<nav class="navbar navbar-default navbar-fixed-top"
  role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="index">
        <img src="./images/nav_logo.png"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li >
          <a ng-href="search.html#/">返回搜索</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" >
        <li>
          <button class="btn btn-success nav-btn" ng-click="back()">返回个人主页</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container index">
  <div class="row">
    <div class="col-md-8">
      <alert ng-repeat="alert in alerts" type="alert.type" close="delalert($index)">{{alert.msg}}</alert>
      <div class="row detailrow">
        <div class="col-md-4">
          <div>
            <img ng-src="http://192.168.191.1:8080/quickcast/upload/{{singleuser.user_id}}.jpg" alt="{{singleuser.cn_tname}}" class="img-rounded img-responsive resumeimg" ></div>
        </div>
        <div class="col-md-4">
          <p> <strong>{{singleuser.cn_tname}}</strong>
          </p>
          <p> <strong>{{singleuser.eng_name}}</strong>
          </p>
          <p>用户类型: {{singleuser.user_type|usertype}}</p>
          <p>{{singleuser.seeker_profession}}</p>
          <p ng-if="singleuser.user_type==='2'">职业猎头</p>
          <p ng-if="singleuser.user_type==='1'">{{singleuser.work_place}} | {{singleuser.etp_industry}}</p>
          <p ng-if="singleuser.user_type==='3'">{{singleuser.etp_name}} | {{singleuser.etp_industry}}</p>
          <p ng-if="singleuser.user_type==='3'">{{singleuser.etp_nature}} | {{singleuser.etp_size}}</p>
          <p ng-if="singleuser.user_type==='2'">{{singleuser.work_city}} | {{singleuser.t_area}}</p>
          <p>目前就职: {{singleuser.etp_name}}</p>
          <a class="btn btn-lg btn-success" ng-href="{{user_cookie.user_type|usertypeeng}}.html#/user/{{user_cookie.user_id}}/friends">添加好友</a>
        </div>
      </div>
      <div class="detailrow" ng-if="singleuser.user_type==='2'">
        <div class="page-header">
          <h3>
            猎头简介
            <small>Hunter Intro</small>
          </h3>
        </div>
        <pre>{{singleuser.self_intro}}</pre>
        <p>通讯地址: {{singleuser.msg_addr}} | 电子邮件: {{singleuser.email}}</p>
        <button class="btn btn-success btn-block btn-lg" ng-if="user_cookie.user_type==='1'" ng-click="tship(singleuser.user_id)">
          托管简历
          <span class="glyphicon glyphicon-send"></span>
        </button>
      </div>
      <div class="detailrow" ng-if="singleuser.user_type==='3'">
        <div class="page-header">
          <h3>
            公司简介
            <small>Company Intro</small>
          </h3>
        </div>
        <pre>{{singleuser.etp_intro}}</pre>
        <p>公司地址: {{singleuser.msg_addr}}</p>
      </div>
      <div class="well well-lg detailrow" ng-if="singleuser.user_type==='1'">
        <div class="page-header">
          <h3>
            个人履历
            <small>Curriculum Vitae</small>
          </h3>
        </div>
        <h4 class="icon_work">工作经历</h4>
        <hr>
        <div ng-repeat="work in works">
          <h3>
            <strong>{{work.etp_name}}</strong>
            |
            <small>{{work.work_duty}}</small>
          </h3>
          <strong>{{work.work_place}}</strong>
          <p>{{work.start_time}}-{{work.end_time}}</p>
          <p>{{work.profession}}</p>
        </div>
        <h4 class="icon_edu">教育背景</h4>
        <hr>

        <div ng-repeat="edu in edus">
          <h3>
            <strong>{{edu.school_name}}</strong>
            |
            <small>{{edu.major}}</small>
          </h3>
          <strong>{{edu.edu_bg}}</strong>
          <p>{{edu.study_start_time}}-{{edu.study_end_time}}</p>
          <p>{{edu.edu_desc}}</p>
        </div>

        <h4 class="icon_project">工作项目</h4>
        <hr>
        <div ng-repeat="project in projects">
          <h3>
            <a href="http://{{project.prj_achievement}}" target="_blank">
              <strong>{{project.prj_name}}</strong>
            </a>
            |
            <small>{{project.prj_duty}}</small>
          </h3>
          <p>{{project.start_time}}-{{project.end_time}}</p>
          <p>{{project.prj_desc}}</p>
        </div>

        <h4 class="icon_lang">语言能力</h4>
        <hr>
        <div class="overflow">
          <div class="col-md-5 " ng-repeat="lang in langs" >
            <h3>
              <strong>{{lang.lang}}</strong>
              |
              <small>{{lang.proficiency}}</small>
            </h3>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div>
        <h4>可能认识的会员:</h4>
        <div class="well well-sm" ng-repeat="recommend in recommends">
          <button type="button" class="close" aria-hidden="true" ng-click="del_recommend($index)">&times;</button>
          <a ng-href="{{recommend.id}}"></a>
        </div>
        <a ng-href="user.html#/user/{{user_id}}/friends" class="pull-right">更多推荐</a>
      </div>
    </div>
  </div>
</div>
<div class="footer" ng-include="'views/footer.html'"></div>