<nav class="navbar navbar-default navbar-fixed-top"
  role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="user.html#/user/{{user_id}}">
        <img src="./images/nav_logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav " >
        <li>
          <form class="navbar-form navbar-left" >
            <div class="input-group nav-search" >
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon  glyphicon-{{searchicon}}"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="divider"></li>
                  <li>
                    <a ng-click="search_type=1;searchicon='list-alt';" href="">
                      <span class="glyphicon glyphicon-list-alt"></span>
                      找职位
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a ng-click="search_type=2;searchicon='briefcase';" href="">
                      <span class="glyphicon glyphicon-briefcase"></span>
                      找公司
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a ng-click="search_type=3;searchicon='user';" href="">
                      <span class="glyphicon glyphicon-user"></span>
                      找猎头
                    </a>
                  </li>
                </ul>
              </div>
              <input type="text" class="form-control" ng-model="serach_key"></div>
          </form>
        </li>
        <li>
          <button class="btn btn-default nav-btn" ng-click="search(serach_key)">
            <span class="glyphicon  glyphicon-search"></span>
            搜索
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" >
        <li >
          <a href="" class="dropdown-toggle">
            <span class="glyphicon glyphicon-envelope"></span>
            站内信
            <span class="label label-primary">{{messages.length}}</span>
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <a class="btn btn-default btn-sm btnmargin" ng-href="user.html#/user/{{user_id}}/message">
              站内信
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </a>
            <a class="btn btn-default btn-sm pull-right btnmargin" ng-href="user.html#/user/{{user_id}}/message">
              <span class="glyphicon  glyphicon-share"></span>
            </a>
            <div class="list-group nav-list">
              <a ng-href="user.html#/user/{{user_id}}/message" class="list-group-item"  ng-repeat="message in messages"> <strong class="list-group-item-heading">{{message.title}}</strong>
                <p>发件人:{{message.dispatch_name}}</p>
                <p>{{message.content}}</p>
              </a>
            </div>
            <a ng-href="user.html#/user/{{user_id}}/message" class="pull-right">查看更多</a>
          </div>
        </li>
        <li >
          <a href="" class="dropdown-toggle">
            <span class="glyphicon  glyphicon-flag"></span>
            通知
            <span class="label label-primary">{{notices.length}}</span>
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <h5 >
              通知
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </h5>
            <div class="list-group nav-list">
              <a ng-href="user.html#/user/{{user_id}}/message" class="list-group-item"  ng-repeat="notice in notices"> <strong class="list-group-item-heading">{{notice.title}}</strong>
                <p>发件人:{{notice.dispatch_name}}</p>
                <p>{{notice.content}}</p>
              </a>
            </div>
            <a ng-href="user.html#/user/{{user_id}}/message" class="pull-right">查看更多</a>
          </div>
        </li>
        <li >
          <a href="" class="dropdown-toggle" >
            <span class="glyphicon  glyphicon-plus" ></span>
            添加好友
            <span class="label label-primary">{{applys.length}}</span>
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <a class="btn btn-default btn-sm btnmargin" ng-href="user.html#/user/{{user_id}}/friends">
              好友管理
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </a>
            <ul class="list-group nav-list">
              <li class="list-group-item"  ng-repeat="apply in applys">
                <p>申请人:{{apply.name}}</p>
                <p >用户类别:{{apply.group|usertype}}</p>
                <p>{{apply.reason}}</p>
                <button class="btn btn-success btn-sm" ng-click="friend_add($index,'agree')">同意</button>
                <button class="btn btn-danger btn-sm" ng-click="friend_add($index,'disagree')">拒绝</button>
              </li>
            </ul>
            <p>找找谁已加入快投</p>
            <a ng-href="user.html#/user/{{user_id}}/friends" class="pull-right">查看更多</a>
          </div>
        </li>
        <li>
          <a href="" class="dropdown-toggle">
            <span class="glyphicon  glyphicon-user"></span>
            个人中心
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <h5 >
              账户设置
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </h5>
            <ul class="list-group nav-list">
              <li class="list-group-item">
                <span class="glyphicon  glyphicon-user"></span>
                {{cn_tname}}
                <a href="" class=" pull-right" ng-click="logout()">退出</a>
              </li>
              <li class="list-group-item">
                <span class="glyphicon  glyphicon-wrench"></span>
                设置
                <a ng-href="/user.html#/user/{{user_id}}/setting" class=" pull-right">查看</a>
              </li>
              <li class="list-group-item">
                <span class="glyphicon  glyphicon-folder-open"></span>
                简历管理
                <a ng-href="user.html#/user/{{user_id}}/resume" class="pull-right">查看</a>
              </li>
            </ul>

          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container ">

  <div class="row">
    <div class="col-md-8">
      <div class="page-header">
        <h1>
          简历中心
          <small>Resume</small>
        </h1>
      </div>
      <alert ng-repeat="alert in alerts" type="alert.type" close="delalert($index)">{{alert.msg}}</alert>
      <div class="row">
        <div class="col-md-4">
          <div>
            <img src="/images/ghost_person.png" alt="" class="img-rounded img-responsive resumeimg" >
            <div class="shell">
              <button class="btn btn-info " data-toggle="modal" data-target="#picturenodal">
                <span class="glyphicon  glyphicon-plus"></span>
                添加头像
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <p>
            <strong>王一桐</strong>
          </p>
          <p>
            <strong>Wang Yi tong</strong>
          </p>
          <p>软件开发工程师</p>
          <p>湖北 | 程序开发</p>
          <p>目前就职: XXXX</p>
          <button class="btn btn-lg btn-primary" ng-click="editsave()">编辑完毕</button>
        </div>

      </div>
      <div class="well well-lg detailrow">
        <div class="page-header">
          <h3>
            个人履历
            <small>Curriculum Vitae</small>
          </h3>
        </div>
        <div>
          <h4 class="icon_work">
            工作经历
            <a class="pull-right" href="" ng-click="isCollapsed = !isCollapsed">
              <span class="glyphicon  glyphicon-edit"></span>
              编辑
            </a>
          </h4>
          <hr>
          <div collapse="!isCollapsed">Some content</div>
        </div>
        <div>
          <h4 class="icon_edu">
            教育背景
            <a class="pull-right" href="" ng-click="isCollapsed = !isCollapsed">
              <span class="glyphicon  glyphicon-edit"></span>
              编辑
            </a>
          </h4>
          <hr>
          <div collapse="!isCollapsed">Some content</div>
        </div>
        <div>
          <h4 class="icon_project">
            工作项目
            <a class="pull-right" href="" ng-click="isCollapsed = !isCollapsed">
              <span class="glyphicon  glyphicon-edit"></span>
              编辑
            </a>
          </h4>
          <hr>
          <div collapse="!isCollapsed">Some content</div>
        </div>
        <div id="languages">
          <h4 class="icon_lang">
            语言能力
            <a class="pull-right" href="" ng-click="langTab.edit='edit';">
              <span class="glyphicon  glyphicon-edit"></span>
              编辑
            </a>
          </h4>
          <hr>
          <div class="animate-switch-container"
    ng-switch on="langTab.edit">
            <div class="animate-switch" ng-switch-when="edit">
              <label >使用语言:</label>
              <label class="labelmargin" >语言能力:</label>
              <div ng-repeat="lang in langs" class="regbtn">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="lang.lang" ></div>
                  <div class="form-group">
                    <select class="form-control" ng-model="lang.proficiency" ng-options="proficiency for proficiency in proficiencys"></select>
                  </div>
                  <button type="button" class="close" aria-hidden="true" ng-click="dellangs($index)">&times;</button>
                </form>
              </div>
              <a href="" class="btn-block regbtn" ng-click="addlangs()">添加另一种语言</a>
              <button class="btn btn-primary regbtn" ng-click="savelangs()">保存</button>
              <button class="btn btn-default regbtn" ng-click="langTab.edit='other';">取消</button>
            </div>
            <div class="animate-switch" ng-switch-default>
              <div class="col-md-5" ng-repeat="lang in langs">
                <h3>
                  <strong>{{lang.lang}}</strong>
                  |
                  <small>{{lang.proficiency}}</small>
                </h3>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-4">
      <div>
        <h3>立即添加:</h3>
        <hr>
        <div class="list-group">
          <a href="" class="list-group-item ">
            <h3 class="icon_work">
              工作经历
              <span class="glyphicon  glyphicon-plus pull-right"></span>
            </h3>
          </a>
          <a href="" class="list-group-item ">
            <h3 class="icon_edu">
              教育背景
              <span class="glyphicon  glyphicon-plus pull-right"></span>
            </h3>
          </a>
          <a href="" class="list-group-item ">
            <h3 class="icon_project">
              工作项目
              <span class="glyphicon  glyphicon-plus pull-right"></span>
            </h3>
          </a>
          <a href="" class="list-group-item ">
            <h3 class="icon_lang">
              语言能力
              <span class="glyphicon  glyphicon-plus pull-right"></span>
            </h3>
          </a>
        </div>
      </div>
      <div class="footer">
        <p>
          Quick Cast | 快投 ©2014
          <a ng-href="/">主页</a>
          |
          <a ng-href="/">意见与反馈</a>
          |
          <a ng-href="/user/about">关于我们</a>
        </p>
        <p>
          Designed and built with
          <a href="http://www.bootcss.com">Bootstrap</a>
          and
          <a href="http://angularjs.org">Angularjs</a>
          by
          <a href="http://www.playingcn.com">@playing</a>
        </p>
        <p>
          Based on
          <a href="http://nodejs.org/">node.js</a>
          , 
    use
          <a href="http://gruntjs.com/">Grunt</a>
          ,
          <a href="http://bower.io/">Bower</a>
          ,
    and
          <a href="http://yeoman.io/">Yeoman</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="picturenodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">上传新头像</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">完成</button>
      </div>
    </div>
  </div>
</div>