<nav class="navbar navbar-default navbar-fixed-top"
  role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="index">
        <img src="./images/nav_logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav " >
        <li>
          <form class="navbar-form navbar-left" >
            <div class="input-group nav-search" >
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon  glyphicon-list"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="divider"></li>
                  <li>
                    <a ng-click="test()" href="">
                      <span class="glyphicon glyphicon-list-alt"></span>
                      找职位
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="">
                      <span class="glyphicon glyphicon-briefcase"></span>
                      找公司
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="">
                      <span class="glyphicon glyphicon-user"></span>
                      找猎头
                    </a>
                  </li>
                </ul>
              </div>
              <input type="text" class="form-control"></div>
          </form>
        </li>
        <li>
          <button class="btn btn-default nav-btn" ng-click="search()">
            <span class="glyphicon  glyphicon-search"></span>
            搜索
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" >
        <li >
          <a href="" class="dropdown-toggle">
            <span class="glyphicon glyphicon-envelope"></span>
            站内信
            <span class="label label-primary">1</span>
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <a class="btn btn-default btn-sm btnmargin">
              站内信
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </a>
            <button class="btn btn-default btn-sm pull-right btnmargin">
              <span class="glyphicon  glyphicon-share"></span>
            </button>
            <div class="list-group nav-list">
              <a href="{{message.id}}" class="list-group-item"  ng-repeat="message in messages"> <strong class="list-group-item-heading">{{message.header}}</strong>
                <p>发件人:{{message.sender}}</p>
                <p>{{message.msg}}</p>
              </a>
            </div>
            <a href="" class="pull-right">查看更多</a>
          </div>
        </li>
        <li >
          <a href="" class="dropdown-toggle">
            <span class="glyphicon  glyphicon-flag"></span>
            通知
            <span class="label label-primary">2</span>
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <h5 >
              通知
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </h5>
            <div class="list-group nav-list">
              <a href="{{notice.id}}" class="list-group-item"  ng-repeat="notice in notices"> <strong class="list-group-item-heading">{{notice.header}}</strong>
                <p>发件人:{{notice.sender}}</p>
                <p>{{notice.msg}}</p>
              </a>
            </div>
            <a href="" class="pull-right">查看更多</a>
          </div>
        </li>
        <li >
          <a href="" class="dropdown-toggle" >
            <span class="glyphicon  glyphicon-plus" ></span>
            添加好友
            <span class="label label-primary">3</span>
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <a class="btn btn-default btn-sm btnmargin">
              好友管理
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </a>
            <ul class="list-group nav-list">
              <li class="list-group-item"  ng-repeat="apply in applys">
                <p>申请人:{{apply.sender}}</p>
                <p>{{apply.msg}}</p>
                <button class="btn btn-success btn-sm">同意</button>
                <button class="btn btn-danger btn-sm">拒绝</button>
              </li>
            </ul>
            <p>找找谁已加入快投</p>
            <a href="" class="pull-right">查看更多</a>
          </div>
        </li>
        <li>
          <a href="" class="dropdown-toggle">
            <span class="glyphicon  glyphicon-user"></span>
            个人中心
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <h5 >
              账户设置
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </h5>
            <ul class="list-group nav-list">
              <li class="list-group-item">
                <span class="glyphicon  glyphicon-user"></span>
                Wang Yitong
                <a href="" class=" pull-right">退出</a>
              </li>
              <li class="list-group-item">
                <span class="glyphicon  glyphicon-wrench"></span>
                设置
                <a href="" class=" pull-right">查看</a>
              </li>
              <li class="list-group-item">
                <span class="glyphicon  glyphicon-folder-open"></span>
                简历管理
                <a href="" class=" pull-right">查看</a>
              </li>
            </ul>

          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container index">
  <div class="row">
    <div class="col-md-8">
      <h3>{{user.name}}快来分享你的新鲜动态.</h3>
      <textarea rows="3" cols="40" class="form-control" ></textarea>
      <button class="btn btn-primary btn-block btn-lg regbtn">发布</button>
      <div class="well regbtn" ng-repeat="update in updates">
        <a href="{{update.id}}">
          <h5>{{update.sender}}</h5>
        </a>
        <p>{{update.msg}}</p>
      </div>
      <button class="btn btn-info btn-block  regbtn">更多动态 <span class="glyphicon glyphicon-chevron-down"></span></button>
    </div>
    <div class="col-md-4">
      <div>
        <h3>职位推荐:</h3>
        <div class="well well-sm" ng-repeat="recommend in recommends">
          <button type="button" class="close" aria-hidden="true" ng-click="del_recommend($index)">&times;</button>
          <a href="{{recommend.id}}">
            <h4>{{recommend.title}}</h4>
          </a>
          <p>{{recommend.company}}--{{recommend.city}}</p>
        </div>
        <a href="" class="pull-right">更多职位</a>
      </div>
      <div class="footer">
        <p>
          Quick Cast | 快投 ©2014
          <a ng-href="/">主页</a>
          |
          <a ng-href="/">意见与反馈</a>
          |
          <a ng-href="/user/about">关于我们</a>
        </p>
        <p>
          Designed and built with
          <a href="http://www.bootcss.com">Bootstrap</a>
          and
          <a href="http://angularjs.org">Angularjs</a>
          by
          <a href="http://www.playingcn.com">@playing</a>
        </p>
        <p>
          Based on
          <a href="http://nodejs.org/">node.js</a>
          , 
    use
          <a href="http://gruntjs.com/">Grunt</a>
          ,
          <a href="http://bower.io/">Bower</a>
          ,
    and
          <a href="http://yeoman.io/">Yeoman</a>
        </p>
      </div>
    </div>
  </div>
</div>