<nav class="navbar navbar-default navbar-fixed-top"
  role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="user.html#/user/{{user_id}}">
        <img src="./images/nav_logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav " >
        <li>
          <form class="navbar-form navbar-left" >
            <div class="input-group nav-search" >
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon  glyphicon-{{searchicon}}"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="divider"></li>
                  <li>
                    <a ng-click="search_type=1;searchicon='list-alt';" href="">
                      <span class="glyphicon glyphicon-list-alt"></span>
                      找职位
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a ng-click="search_type=2;searchicon='briefcase';" href="">
                      <span class="glyphicon glyphicon-briefcase"></span>
                      找公司
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a ng-click="search_type=3;searchicon='user';" href="">
                      <span class="glyphicon glyphicon-user"></span>
                      找猎头
                    </a>
                  </li>
                </ul>
              </div>
              <input type="text" class="form-control" ng-model="serach_key"></div>
          </form>
        </li>
        <li>
          <button class="btn btn-default nav-btn" ng-click="search(serach_key)">
            <span class="glyphicon  glyphicon-search"></span>
            搜索
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" >
        <li >
          <a href="" class="dropdown-toggle">
            <span class="glyphicon glyphicon-envelope"></span>
            站内信
            <span class="label label-primary">{{messages.length}}</span>
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <a class="btn btn-default btn-sm btnmargin" ng-href="user.html#/user/{{user_id}}/message">
              站内信
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </a>
            <a class="btn btn-default btn-sm pull-right btnmargin" ng-href="user.html#/user/{{user_id}}/message">
              <span class="glyphicon  glyphicon-share"></span>
            </a>
            <div class="list-group nav-list">
              <a ng-href="user.html#/user/{{user_id}}/message" class="list-group-item"  ng-repeat="message in messages"> <strong class="list-group-item-heading">{{message.header}}</strong>
                <p>发件人:{{message.sender}}</p>
                <p>{{message.msg}}</p>
              </a>
            </div>
            <a ng-href="user.html#/user/{{user_id}}/message" class="pull-right">查看更多</a>
          </div>
        </li>
        <li >
          <a href="" class="dropdown-toggle">
            <span class="glyphicon  glyphicon-flag"></span>
            通知
            <span class="label label-primary">{{notices.length}}</span>
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <h5 >
              通知
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </h5>
            <div class="list-group nav-list">
              <a ng-href="user.html#/user/{{user_id}}/message" class="list-group-item"  ng-repeat="notice in notices"> <strong class="list-group-item-heading">{{notice.header}}</strong>
                <p>发件人:{{notice.sender}}</p>
                <p>{{notice.msg}}</p>
              </a>
            </div>
            <a ng-href="user.html#/user/{{user_id}}/message" class="pull-right">查看更多</a>
          </div>
        </li>
        <li >
          <a href="" class="dropdown-toggle" >
            <span class="glyphicon  glyphicon-plus" ></span>
            添加好友
            <span class="label label-primary">{{applys.length}}</span>
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <a class="btn btn-default btn-sm btnmargin" ng-href="user.html#/user/{{user_id}}/friends">
              好友管理
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </a>
            <ul class="list-group nav-list">
              <li class="list-group-item"  ng-repeat="apply in applys">
                <p>申请人:{{apply.sender}}</p>
                <p>{{apply.msg}}</p>
                <button class="btn btn-success btn-sm">同意</button>
                <button class="btn btn-danger btn-sm">拒绝</button>
              </li>
            </ul>
            <p>找找谁已加入快投</p>
            <a ng-href="user.html#/user/{{user_id}}/friends" class="pull-right">查看更多</a>
          </div>
        </li>
        <li>
          <a href="" class="dropdown-toggle">
            <span class="glyphicon  glyphicon-user"></span>
            个人中心
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <h5 >
              账户设置
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </h5>
            <ul class="list-group nav-list">
              <li class="list-group-item">
                <span class="glyphicon  glyphicon-user"></span>
                {{cn_tname}}
                <a href="" class=" pull-right" ng-click="logout()">退出</a>
              </li>
              <li class="list-group-item">
                <span class="glyphicon  glyphicon-wrench"></span>
                设置
                <a href="/user.html#/user/{{user_id}}/setting" class=" pull-right">查看</a>
              </li>
              <li class="list-group-item">
                <span class="glyphicon  glyphicon-folder-open"></span>
                简历管理
                <a ng-href="user.html#/user/{{user_id}}/resume" class="pull-right">查看</a>
              </li>
            </ul>

          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="page-header">
    <h1>
      账户设置
      <small>Setting</small>
    </h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked blockquote">
        <li class="{{active1}}">
          <a href="" ng-click="settingTab='other';active1='active';active2='';active3='';">
            <span class="glyphicon glyphicon-user"></span>
            基本信息
          </a>
        </li>
        <li class="{{active2}}">
          <a href="" ng-click="settingTab='reg';active2='active';active1='';active3='';" >
            <span class="glyphicon glyphicon-log-in"></span>
            账户信息
          </a>
        </li>
        <li class="{{active3}}">
          <a href="" ng-click="settingTab='profile';active3='active';active2='';active1='';">
            <span class="glyphicon glyphicon-list-alt"></span>
            详细资料
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div ng-switch on="settingTab">
        <div  ng-switch-when="reg">
          <div class="row">
            <div class="col-md-5">
              <h4>注册账户:</h4>
              <p>{{user.user_name}}</p>
              <h4>账户类型:</h4>
              <p>{{user.user_type|usertype}}</p>
              <h4>电子邮件:</h4>
              <p>{{user.email}}</p>
              <h4>电话:</h4>
              <p>{{user.mobile}}</p>
              <h4>省份:</h4>
              <p>{{user.work_place}}</p>
            </div>
            <div class="col-md-4">
              <h4>简历:</h4>
              <p>您有{{"3"}}份简历在快投网.</p>
              <a href="">查看详情</a>
              <h4>联系人:</h4>
              <p>您有{{"13"}}位联系人在快投网.</p>
              <a href="">查看详情</a>
            </div>
          </div>
        </div>
        <div  ng-switch-when="profile">1</div>
        <div  ng-switch-default>
          <div class="row">
            <div class="col-md-5">
              <h4>中文名:</h4>
              <p>{{cn_tname}}</p>
              <h4>英文名:</h4>
              <p>{{user.eng_name}}</p>
              <h4>电子邮件:</h4>
              <p>{{user.email}}</p>
              <h4>电话:</h4>
              <p>{{user.mobile}}</p>
              <h4>密码:</h4>
              <a>{{user.work_place}}</a>
            </div>
            <div class="col-md-4">
              <h4>简历:</h4>
              <p>您有{{"3"}}份简历在快投网.</p>
              <a href="">查看详情</a>
              <h4>联系人:</h4>
              <p>您有{{"13"}}位联系人在快投网.</p>
              <a href="">查看详情</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p>
    Quick Cast | 快投 ©2014
    <a ng-href="/">主页</a>
    |
    <a ng-href="/">意见与反馈</a>
    |
    <a ng-href="/user/about">关于我们</a>
  </p>
  <p>
    Designed and built with
    <a href="http://www.bootcss.com">Bootstrap</a>
    and
    <a href="http://angularjs.org">Angularjs</a>
    by
    <a href="http://www.playingcn.com">@playing</a>
  </p>
  <p>
    Based on
    <a href="http://nodejs.org/">node.js</a>
    , 
    use
    <a href="http://gruntjs.com/">Grunt</a>
    ,
    <a href="http://bower.io/">Bower</a>
    ,
    and
    <a href="http://yeoman.io/">Yeoman</a>
  </p>
</div>