<nav class="navbar navbar-default navbar-fixed-top"
  role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="user.html#/user/{{user_id}}">
        <img src="./images/nav_logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav " >
        <li>
          <form class="navbar-form navbar-left" >
            <div class="input-group nav-search" >
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon  glyphicon-{{searchicon}}"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="divider"></li>
                  <li>
                    <a ng-click="nav_search.search_type=1;searchicon='list-alt';" href="">
                      <span class="glyphicon glyphicon-list-alt"></span>
                      找职位
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a ng-click="nav_search.search_type=2;searchicon='user';" href="">
                      <span class="glyphicon glyphicon-user"></span>
                      找会员
                    </a>
                  </li>
                  <li class="divider"></li>
                </ul>
              </div>
              <input type="text" class="form-control" ng-model="nav_search.serach_key"></div>
          </form>
        </li>
        <li>
          <button class="btn btn-default nav-btn" ng-click="navsearch(nav_search)">
            <span class="glyphicon  glyphicon-search"></span>
            搜索
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" >
        <li >
          <a href="" class="dropdown-toggle">
            <span class="glyphicon glyphicon-envelope"></span>
            站内信
            <span class="label label-primary">{{messages.length}}</span>
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <a class="btn btn-default btn-sm btnmargin" ng-href="user.html#/user/{{user_id}}/message">
              站内信
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </a>
            <a class="btn btn-default btn-sm pull-right btnmargin" ng-href="user.html#/user/{{user_id}}/message">
              <span class="glyphicon  glyphicon-share"></span>
            </a>
            <div class="list-group nav-list">
              <a ng-href="user.html#/user/{{user_id}}/message" class="list-group-item"  ng-repeat="message in messages"> <strong class="list-group-item-heading">{{message.title}}</strong>
                <p>发件人:{{message.dispatch_name}}</p>
                <p>{{message.content}}</p>
              </a>
            </div>
            <a ng-href="user.html#/user/{{user_id}}/message" class="pull-right">查看更多</a>
          </div>
        </li>
        <li >
          <a href="" class="dropdown-toggle">
            <span class="glyphicon  glyphicon-flag"></span>
            通知
            <span class="label label-primary">{{notices.length}}</span>
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <h5 >
              通知
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </h5>
            <div class="list-group nav-list">
              <a ng-href="user.html#/user/{{user_id}}/message" class="list-group-item"  ng-repeat="notice in notices"> <strong class="list-group-item-heading">{{notice.title}}</strong>
                <p>发件人:{{notice.dispatch_name}}</p>
                <p>{{notice.content}}</p>
              </a>
            </div>
            <a ng-href="user.html#/user/{{user_id}}/message" class="pull-right">查看更多</a>
          </div>
        </li>
        <li >
          <a href="" class="dropdown-toggle" >
            <span class="glyphicon  glyphicon-plus" ></span>
            添加好友
            <span class="label label-primary">{{applys.length}}</span>
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <a class="btn btn-default btn-sm btnmargin" ng-href="user.html#/user/{{user_id}}/friends">
              好友管理
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </a>
            <ul class="list-group nav-list">
              <li class="list-group-item"  ng-repeat="apply in applys">
                <p>申请人:{{apply.name}}</p>
                <p >用户类别:{{apply.group|usertype}}</p>
                <p>{{apply.reason}}</p>
                <button class="btn btn-success btn-sm" ng-click="friend_add($index,'agree')">同意</button>
                <button class="btn btn-danger btn-sm" ng-click="friend_add($index,'disagree')">拒绝</button>
              </li>
            </ul>
            <p>找找谁已加入快投</p>
            <a ng-href="user.html#/user/{{user_id}}/friends" class="pull-right">查看更多</a>
          </div>
        </li>
        <li>
          <a href="" class="dropdown-toggle">
            <span class="glyphicon  glyphicon-user"></span>
            个人中心
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <h5 >
              账户设置
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </h5>
            <ul class="list-group nav-list">
              <li class="list-group-item">
                <span class="glyphicon  glyphicon-user"></span>
                {{cn_tname}}
                <a href="" class=" pull-right" ng-click="logout()">退出</a>
              </li>
              <li class="list-group-item">
                <span class="glyphicon  glyphicon-wrench"></span>
                设置
                <a ng-href="user.html#/user/{{user_id}}/setting" class=" pull-right">查看</a>
              </li>
              <li class="list-group-item">
                <span class="glyphicon  glyphicon-folder-open"></span>
                简历管理
                <a ng-href="user.html#/user/{{user_id}}/resume" class="pull-right">查看</a>
              </li>
              <li class="list-group-item">
                <span class="glyphicon  glyphicon-tasks"></span>
                简历投递
                <a ng-href="user.html#/user/{{user_id}}/resume/deliver" class="pull-right">查看</a>
              </li>
            </ul>

          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container ">

  <div class="row">
    <div class="col-md-8">
      <div class="page-header">
        <h1>
          简历中心
          <small>Resume</small>
        </h1>
      </div>
      <alert ng-repeat="alert in alerts" type="alert.type" close="delalert($index)">{{alert.msg}}</alert>
      <div class="row">
        <div class="col-md-4">
          <div>
            <img ng-src="{{image_url}}" alt="" class="img-rounded img-responsive resumeimg" >
            <div class="shell">
              <button class="btn btn-info " data-toggle="modal" data-target="#picturenodal">
                <span class="glyphicon  glyphicon-plus"></span>
                更换头像
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <p>
            <strong>{{cn_tname}}</strong>
          </p>
          <p>
            <strong>{{user.eng_name}}</strong>
          </p>
          <p>{{user_profile.seeker_profession}}</p>
          <p>{{user_profile.work_place}} | {{user_profile.etp_industry}}</p>
          <p>目前就职: {{user_profile.etp_name}}</p>
          <a class="btn btn-lg btn-primary" ng-click="editsave()" ng-href="user.html#/user/{{user_id}}/resume" >编辑完毕</a>
        </div>

      </div>
      <div class="well well-lg detailrow">
        <div class="page-header">
          <h3>
            个人履历
            <small>Curriculum Vitae</small>
          </h3>
        </div>
        <div>
          <h4 class="icon_work">
            工作经历
            <a class="pull-right" href=""  ng-click="workTab.edit='plus';">
              <span class="glyphicon  glyphicon-plus"></span>
              添加职位
            </a>
          </h4>
          <hr>
          <div class="animate-switch-container" ng-switch on="workTab.edit">
            <div class="animate-switch" ng-switch-when="plus">
              <div class="form-group">
                <label >公司名称:</label>
                <input type="text" class="form-control prform"  ng-model="newwork.etp_name"></div>
              <div class="form-group">
                <label >职位头衔:</label>
                <input type="text" class="form-control prform"  ng-model="newwork.work_duty"></div>
              <div class="form-group">
                <label >工作地区:</label>
                <input type="text" class="form-control prform"  ng-model="newwork.work_place"></div>
              <form class="form-inline" role="form">
                <div class="form-group">
                  <label class="blocklabel">在职时间:</label>
                  <select class="form-control" ng-model="newwork.start_time">
                    <option value="0" selected="">-</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                    <option value="1999">1999</option>
                    <option value="1998">1998</option>
                    <option value="1997">1997</option>
                    <option value="1996">1996</option>
                    <option value="1995">1995</option>
                    <option value="1994">1994</option>
                    <option value="1993">1993</option>
                    <option value="1992">1992</option>
                    <option value="1991">1991</option>
                    <option value="1990">1990</option>
                    <option value="1989">1989</option>
                    <option value="1988">1988</option>
                    <option value="1987">1987</option>
                    <option value="1986">1986</option>
                    <option value="1985">1985</option>
                    <option value="1984">1984</option>
                    <option value="1983">1983</option>
                    <option value="1982">1982</option>
                    <option value="1981">1981</option>
                    <option value="1980">1980</option>
                  </select>
                  <label class="inlinelabel">到</label>
                  <select class="form-control" ng-model="newwork.end_time">
                    <option value="0" selected="">-</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                    <option value="1999">1999</option>
                    <option value="1998">1998</option>
                    <option value="1997">1997</option>
                    <option value="1996">1996</option>
                    <option value="1995">1995</option>
                    <option value="1994">1994</option>
                    <option value="1993">1993</option>
                    <option value="1992">1992</option>
                    <option value="1991">1991</option>
                    <option value="1990">1990</option>
                    <option value="1989">1989</option>
                    <option value="1988">1988</option>
                    <option value="1987">1987</option>
                    <option value="1986">1986</option>
                    <option value="1985">1985</option>
                    <option value="1984">1984</option>
                    <option value="1983">1983</option>
                    <option value="1982">1982</option>
                    <option value="1981">1981</option>
                    <option value="1980">1980</option>
                  </select>
                </div>
              </form>
              <label >职务描述:</label>
              <textarea  class="form-control prform" rows="5" ng-model="newwork.profession"></textarea>
              <button class="btn btn-primary regbtn" ng-click="saveworks(newwork);workTab.edit='other';">保存</button>
              <button class="btn btn-default regbtn" ng-click="workTab.edit='other';">取消</button>
            </div>
            <div class="animate-switch" ng-switch-default></div>
            <div ng-repeat="work in works">
              <div class="animate-switch-container" ng-switch on="workEditTab.edit">
                <div class="animate-switch" ng-switch-default>
                  <h3>
                    <strong>{{work.etp_name}}</strong>
                    |
                    <small>
                      {{work.work_duty}}
                      <a href="" ng-click="$parent.workEditTab.edit='edit';">
                        <span class="glyphicon  glyphicon-edit"></span>
                        编辑
                      </a>
                    </small>
                  </h3>
                  <strong>{{work.work_place}}</strong>
                  <p>{{work.start_time}}-{{work.end_time}}</p>
                  <p>{{work.profession}}</p>
                </div>
                <div class="animate-switch" ng-switch-when="edit">
                  <div class="form-group">
                    <label >公司名称:</label>
                    <input type="text" class="form-control prform"  ng-model="work.etp_name"></div>
                  <div class="form-group">
                    <label >职位头衔:</label>
                    <input type="text" class="form-control prform"  ng-model="work.work_duty"></div>
                  <div class="form-group">
                    <label >工作地区:</label>
                    <input type="text" class="form-control prform"  ng-model="work.work_place"></div>
                  <form class="form-inline" role="form">
                    <div class="form-group">
                      <label class="blocklabel">在职时间:</label>
                      <select class="form-control" ng-model="work.start_time">
                        <option value="0" selected="">-</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                        <option value="1997">1997</option>
                        <option value="1996">1996</option>
                        <option value="1995">1995</option>
                        <option value="1994">1994</option>
                        <option value="1993">1993</option>
                        <option value="1992">1992</option>
                        <option value="1991">1991</option>
                        <option value="1990">1990</option>
                        <option value="1989">1989</option>
                        <option value="1988">1988</option>
                        <option value="1987">1987</option>
                        <option value="1986">1986</option>
                        <option value="1985">1985</option>
                        <option value="1984">1984</option>
                        <option value="1983">1983</option>
                        <option value="1982">1982</option>
                        <option value="1981">1981</option>
                        <option value="1980">1980</option>
                      </select>
                      <label class="inlinelabel">到</label>
                      <select class="form-control" ng-model="work.end_time">
                        <option value="0" selected="">-</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                        <option value="1997">1997</option>
                        <option value="1996">1996</option>
                        <option value="1995">1995</option>
                        <option value="1994">1994</option>
                        <option value="1993">1993</option>
                        <option value="1992">1992</option>
                        <option value="1991">1991</option>
                        <option value="1990">1990</option>
                        <option value="1989">1989</option>
                        <option value="1988">1988</option>
                        <option value="1987">1987</option>
                        <option value="1986">1986</option>
                        <option value="1985">1985</option>
                        <option value="1984">1984</option>
                        <option value="1983">1983</option>
                        <option value="1982">1982</option>
                        <option value="1981">1981</option>
                        <option value="1980">1980</option>
                      </select>
                    </div>
                  </form>
                  <label >职务描述:</label>
                  <textarea  class="form-control prform" rows="5" ng-model="work.profession"></textarea>
                  <button class="btn btn-primary regbtn" ng-click="workEditTab.edit='other';">保存</button>
                  <button class="btn btn-danger regbtn" ng-click="delworks($index);">删除此项</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="educate">
          <h4 class="icon_edu">
            教育背景
            <a class="pull-right" href="" ng-click="eduTab.edit='plus';">
              <span class="glyphicon  glyphicon-plus"></span>
              添加教育背景
            </a>
          </h4>
          <hr>
          <div class="animate-switch-container" ng-switch on="eduTab.edit">
            <div class="animate-switch" ng-switch-when="plus">
              <div class="form-group">
                <label >学校名称:</label>
                <input type="text" class="form-control prform"  ng-model="newedu.school_name"></div>
              <div class="form-group">
                <label >学习专业:</label>
                <input type="text" class="form-control prform"  ng-model="newedu.major"></div>
              <div class="form-group">
                <label >获颁学位:</label>
                <input type="text" class="form-control prform"  ng-model="newedu.edu_bg"></div>
              <form class="form-inline" role="form">
                <div class="form-group">
                  <label class="blocklabel">时间:</label>
                  <select class="form-control" ng-model="newedu.study_start_time">
                    <option value="0" selected="">-</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                    <option value="1999">1999</option>
                    <option value="1998">1998</option>
                    <option value="1997">1997</option>
                    <option value="1996">1996</option>
                    <option value="1995">1995</option>
                    <option value="1994">1994</option>
                    <option value="1993">1993</option>
                    <option value="1992">1992</option>
                    <option value="1991">1991</option>
                    <option value="1990">1990</option>
                    <option value="1989">1989</option>
                    <option value="1988">1988</option>
                    <option value="1987">1987</option>
                    <option value="1986">1986</option>
                    <option value="1985">1985</option>
                    <option value="1984">1984</option>
                    <option value="1983">1983</option>
                    <option value="1982">1982</option>
                    <option value="1981">1981</option>
                    <option value="1980">1980</option>
                  </select>
                  <label class="inlinelabel">到</label>
                  <select class="form-control" ng-model="newedu.study_end_time">
                    <option value="0" selected="">-</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                    <option value="1999">1999</option>
                    <option value="1998">1998</option>
                    <option value="1997">1997</option>
                    <option value="1996">1996</option>
                    <option value="1995">1995</option>
                    <option value="1994">1994</option>
                    <option value="1993">1993</option>
                    <option value="1992">1992</option>
                    <option value="1991">1991</option>
                    <option value="1990">1990</option>
                    <option value="1989">1989</option>
                    <option value="1988">1988</option>
                    <option value="1987">1987</option>
                    <option value="1986">1986</option>
                    <option value="1985">1985</option>
                    <option value="1984">1984</option>
                    <option value="1983">1983</option>
                    <option value="1982">1982</option>
                    <option value="1981">1981</option>
                    <option value="1980">1980</option>
                  </select>
                </div>
              </form>
              <label >说明:</label>
              <textarea  class="form-control prform" rows="5" ng-model="newedu.edu_desc"></textarea>
              <button class="btn btn-primary regbtn" ng-click="saveedus(newedu);eduTab.edit='other';">保存</button>
              <button class="btn btn-default regbtn" ng-click="eduTab.edit='other';">取消</button>
            </div>
            <div class="animate-switch" ng-switch-default></div>
            <div ng-repeat="edu in edus">
              <div class="animate-switch-container" ng-switch on="eduEditTab.edit">
                <div class="animate-switch" ng-switch-default>
                  <h3>
                    <strong>{{edu.school_name}}</strong>
                    |
                    <small>
                      {{edu.major}}
                      <a href="" ng-click="$parent.eduEditTab.edit='edit';">
                        <span class="glyphicon  glyphicon-edit"></span>
                        编辑
                      </a>
                    </small>
                  </h3>
                  <strong>{{edu.edu_bg}}</strong>
                  <p>{{edu.study_start_time}}-{{edu.study_end_time}}</p>
                  <p>{{edu.edu_desc}}</p>
                </div>
                <div class="animate-switch" ng-switch-when="edit">
                  <div class="form-group">
                    <label >学校名称:</label>
                    <input type="text" class="form-control prform"  ng-model="edu.school_name"></div>
                  <div class="form-group">
                    <label >学习专业:</label>
                    <input type="text" class="form-control prform"  ng-model="edu.major"></div>
                  <div class="form-group">
                    <label >获颁学位:</label>
                    <input type="text" class="form-control prform"  ng-model="edu.edu_bg"></div>
                  <form class="form-inline" role="form">
                    <div class="form-group">
                      <label class="blocklabel">时间:</label>
                      <select class="form-control" ng-model="edu.study_start_time">
                        <option value="0" selected="">-</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                        <option value="1997">1997</option>
                        <option value="1996">1996</option>
                        <option value="1995">1995</option>
                        <option value="1994">1994</option>
                        <option value="1993">1993</option>
                        <option value="1992">1992</option>
                        <option value="1991">1991</option>
                        <option value="1990">1990</option>
                        <option value="1989">1989</option>
                        <option value="1988">1988</option>
                        <option value="1987">1987</option>
                        <option value="1986">1986</option>
                        <option value="1985">1985</option>
                        <option value="1984">1984</option>
                        <option value="1983">1983</option>
                        <option value="1982">1982</option>
                        <option value="1981">1981</option>
                        <option value="1980">1980</option>
                      </select>
                      <label class="inlinelabel">到</label>
                      <select class="form-control" ng-model="edu.study_end_time">
                        <option value="0" selected="">-</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                        <option value="1997">1997</option>
                        <option value="1996">1996</option>
                        <option value="1995">1995</option>
                        <option value="1994">1994</option>
                        <option value="1993">1993</option>
                        <option value="1992">1992</option>
                        <option value="1991">1991</option>
                        <option value="1990">1990</option>
                        <option value="1989">1989</option>
                        <option value="1988">1988</option>
                        <option value="1987">1987</option>
                        <option value="1986">1986</option>
                        <option value="1985">1985</option>
                        <option value="1984">1984</option>
                        <option value="1983">1983</option>
                        <option value="1982">1982</option>
                        <option value="1981">1981</option>
                        <option value="1980">1980</option>
                      </select>
                    </div>
                  </form>
                  <label >说明:</label>
                  <textarea  class="form-control prform" rows="5" ng-model="edu.edu_desc"></textarea>
                  <button class="btn btn-primary regbtn" ng-click="eduEditTab.edit='other';">保存</button>
                  <button class="btn btn-danger regbtn" ng-click="deledus($index);">删除此项</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="project">
          <h4 class="icon_project">
            工作项目
            <a class="pull-right" href="" ng-click="projectTab.edit='plus';">
              <span class="glyphicon  glyphicon-plus"></span>
              添加项目
            </a>
          </h4>
          <hr>

          <div class="animate-switch-container" ng-switch on="projectTab.edit">
            <div class="animate-switch" ng-switch-when="plus">
              <div class="form-group">
                <label >项目名称:</label>
                <input type="text" class="form-control prform"  ng-model="newproject.prj_name"></div>
              <div class="form-group">
                <label >项目职责:</label>
                <input type="text" class="form-control prform"  ng-model="newproject.prj_duty"></div>
              <div class="form-group">
                <label >项目网址:</label>
                <input type="text" class="form-control prform"  ng-model="newproject.prj_achievement"></div>
              <form class="form-inline" role="form">
                <div class="form-group">
                  <label class="blocklabel">时间:</label>
                  <select class="form-control" ng-model="newproject.start_time">
                    <option value="0" selected="">-</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                    <option value="1999">1999</option>
                    <option value="1998">1998</option>
                    <option value="1997">1997</option>
                    <option value="1996">1996</option>
                    <option value="1995">1995</option>
                    <option value="1994">1994</option>
                    <option value="1993">1993</option>
                    <option value="1992">1992</option>
                    <option value="1991">1991</option>
                    <option value="1990">1990</option>
                    <option value="1989">1989</option>
                    <option value="1988">1988</option>
                    <option value="1987">1987</option>
                    <option value="1986">1986</option>
                    <option value="1985">1985</option>
                    <option value="1984">1984</option>
                    <option value="1983">1983</option>
                    <option value="1982">1982</option>
                    <option value="1981">1981</option>
                    <option value="1980">1980</option>
                  </select>
                  <label class="inlinelabel">到</label>
                  <select class="form-control" ng-model="newproject.end_time">
                    <option value="0" selected="">-</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                    <option value="1999">1999</option>
                    <option value="1998">1998</option>
                    <option value="1997">1997</option>
                    <option value="1996">1996</option>
                    <option value="1995">1995</option>
                    <option value="1994">1994</option>
                    <option value="1993">1993</option>
                    <option value="1992">1992</option>
                    <option value="1991">1991</option>
                    <option value="1990">1990</option>
                    <option value="1989">1989</option>
                    <option value="1988">1988</option>
                    <option value="1987">1987</option>
                    <option value="1986">1986</option>
                    <option value="1985">1985</option>
                    <option value="1984">1984</option>
                    <option value="1983">1983</option>
                    <option value="1982">1982</option>
                    <option value="1981">1981</option>
                    <option value="1980">1980</option>
                  </select>
                </div>
              </form>
              <label >项目介绍:</label>
              <textarea  class="form-control prform" rows="5" ng-model="newproject.prj_desc"></textarea>
              <button class="btn btn-primary regbtn" ng-click="saveprojects(newproject);projectTab.edit='other';">保存</button>
              <button class="btn btn-default regbtn" ng-click="projectTab.edit='other';">取消</button>
            </div>
            <div class="animate-switch" ng-switch-default></div>
            <div ng-repeat="project in projects">
              <div class="animate-switch-container" ng-switch on="projectEditTab.edit">
                <div class="animate-switch" ng-switch-default>
                  <h3>
                    <a href="http://{{project.prj_achievement}}" target="_blank">
                      <strong>{{project.prj_name}}</strong>
                    </a>
                    |
                    <small>
                      {{project.prj_duty}}
                      <a href="" ng-click="$parent.projectEditTab.edit='edit';">
                        <span class="glyphicon  glyphicon-edit"></span>
                        编辑
                      </a>
                    </small>
                  </h3>
                  <p>{{project.start_time}}-{{project.end_time}}</p>
                  <p>{{project.prj_desc}}</p>
                </div>
                <div class="animate-switch" ng-switch-when="edit">
                  <div class="form-group">
                    <label >项目名称:</label>
                    <input type="text" class="form-control prform"  ng-model="project.prj_name"></div>
                  <div class="form-group">
                    <label >项目职责:</label>
                    <input type="text" class="form-control prform"  ng-model="project.prj_duty"></div>
                  <div class="form-group">
                    <label >项目网址:</label>
                    <input type="text" class="form-control prform"  ng-model="project.prj_achievement"></div>
                  <form class="form-inline" role="form">
                    <div class="form-group">
                      <label class="blocklabel">时间:</label>
                      <select class="form-control" ng-model="project.start_time">
                        <option value="0" selected="">-</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                        <option value="1997">1997</option>
                        <option value="1996">1996</option>
                        <option value="1995">1995</option>
                        <option value="1994">1994</option>
                        <option value="1993">1993</option>
                        <option value="1992">1992</option>
                        <option value="1991">1991</option>
                        <option value="1990">1990</option>
                        <option value="1989">1989</option>
                        <option value="1988">1988</option>
                        <option value="1987">1987</option>
                        <option value="1986">1986</option>
                        <option value="1985">1985</option>
                        <option value="1984">1984</option>
                        <option value="1983">1983</option>
                        <option value="1982">1982</option>
                        <option value="1981">1981</option>
                        <option value="1980">1980</option>
                      </select>
                      <label class="inlinelabel">到</label>
                      <select class="form-control" ng-model="project.end_time">
                        <option value="0" selected="">-</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                        <option value="1997">1997</option>
                        <option value="1996">1996</option>
                        <option value="1995">1995</option>
                        <option value="1994">1994</option>
                        <option value="1993">1993</option>
                        <option value="1992">1992</option>
                        <option value="1991">1991</option>
                        <option value="1990">1990</option>
                        <option value="1989">1989</option>
                        <option value="1988">1988</option>
                        <option value="1987">1987</option>
                        <option value="1986">1986</option>
                        <option value="1985">1985</option>
                        <option value="1984">1984</option>
                        <option value="1983">1983</option>
                        <option value="1982">1982</option>
                        <option value="1981">1981</option>
                        <option value="1980">1980</option>
                      </select>
                    </div>
                  </form>
                  <label >项目介绍:</label>
                  <textarea  class="form-control prform" rows="5" ng-model="project.prj_desc"></textarea>
                  <button class="btn btn-primary regbtn" ng-click="projectEditTab.edit='other';">保存</button>
                  <button class="btn btn-danger regbtn" ng-click="delprojects($index);">删除此项</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="languages">
          <h4 class="icon_lang">
            语言能力
            <a class="pull-right" href="" ng-click="langTab.edit='edit';">
              <span class="glyphicon  glyphicon-edit"></span>
              编辑
            </a>
          </h4>
          <hr>
          <div class="animate-switch-container" ng-switch on="langTab.edit">
            <div class="animate-switch" ng-switch-when="edit">
              <label >使用语言:</label>
              <label class="labelmargin" >语言能力:</label>
              <div ng-repeat="lang in langs" class="regbtn">
                <form class="form-inline" role="form">
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="lang.lang" ></div>
                  <div class="form-group">
                    <select class="form-control" ng-model="lang.proficiency" ng-options="proficiency for proficiency in proficiencys"></select>
                  </div>
                  <button type="button" class="close" aria-hidden="true" ng-click="dellangs($index)">&times;</button>
                </form>
              </div>
              <a href="" class="btn-block regbtn" ng-click="addlangs()">添加另一种语言</a>
              <button class="btn btn-primary regbtn" ng-click="savelangs();langTab.edit='other';">保存</button>
              <button class="btn btn-default regbtn" ng-click="langTab.edit='other';">取消</button>
            </div>
            <div class="animate-switch" ng-switch-default>
              <div class="col-md-5" ng-repeat="lang in langs">
                <h3>
                  <strong>{{lang.lang}}</strong>
                  |
                  <small>{{lang.proficiency}}</small>
                </h3>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-4">
      <div>
        <h3>立即添加:</h3>
        <hr>
        <div class="list-group">
          <a href="" class="list-group-item ">
            <h3 class="icon_work" ng-click="workTab.edit='plus';">
              工作经历
              <span class="glyphicon  glyphicon-plus pull-right"></span>
            </h3>
          </a>
          <a href="" class="list-group-item "  ng-click="eduTab.edit='plus';">
            <h3 class="icon_edu">
              教育背景
              <span class="glyphicon  glyphicon-plus pull-right"></span>
            </h3>
          </a>
          <a href="" class="list-group-item "  ng-click="projectTab.edit='plus';">
            <h3 class="icon_project">
              工作项目
              <span class="glyphicon  glyphicon-plus pull-right"></span>
            </h3>
          </a>
          <a href="" class="list-group-item "  ng-click="langTab.edit='edit';">
            <h3 class="icon_lang">
              语言能力
              <span class="glyphicon  glyphicon-plus pull-right"></span>
            </h3>
          </a>
        </div>
      </div>
      <div class="footer" ng-include="'views/footer.html'"></div>
    </div>
  </div>
</div>

<div class="modal fade" id="picturenodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">上传新头像</h4>
      </div>
      <div class="modal-body">
        <div flow-init="{singleFile:true,target:'http://www.playingcn.com:8080/quickcast/upload.do?method=image',query:{upload_token:user_id}}" flow-files-submitted="$flow.upload()" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-complete="$parent.image_url=image_url+'?new';" class="ng-scope">
          <h3>
            <a name="image-example" class="anchor" href="#image-example">
              <span class="octicon octicon-link"></span>
            </a>
            请选择图片来上传
          </h3>
          <div class="thumbnail" ng-show="!$flow.files.length">
            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"></div>
          <div class="thumbnail ng-hide" ng-show="$flow.files.length">
            <img flow-img="$flow.files[0]"></div>
          <div class="progress progress-striped" ng-class="{active: $flow.files[0].isUploading()}">
            <div class="progress-bar" role="progressbar"
             aria-valuenow="{{$flow.files[0].progress() * 100}}"
             aria-valuemin="0"
             aria-valuemax="100"
             ng-style="{width: ($flow.files[0].progress() * 100) + '%'}">
              <span class="sr-only">{{$flow.files[0].progress()}}% Complete</span>
            </div>
          </div>
          <div>
            <span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn="">
              选择图片
              <input type="file" style="visibility: hidden; position: absolute;"></span>
            <span class="btn btn-info ng-hide" ng-show="$flow.files.length" flow-btn="">
              更换图片
              <input type="file" style="visibility: hidden; position: absolute;"></span>
          </div>
          <p>请上传PNG,JPG,JEPG 格式的图片.大小不超过200X200像素</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">完成</button>
      </div>
    </div>
  </div>
</div>