<nav class="navbar navbar-default navbar-fixed-top"
  role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="company.html#/user/{{user_id}}">
        <img src="./images/nav_logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav " >
        <li>
          <form class="navbar-form navbar-left" >
            <div class="input-group nav-search" >
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon  glyphicon-{{searchicon}}"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="divider"></li>
                  <li>
                    <a ng-click="nav_search.search_type=1;searchicon='list-alt';" href="">
                      <span class="glyphicon glyphicon-list-alt"></span>
                      找职位
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a ng-click="nav_search.search_type=2;searchicon='briefcase';" href="">
                      <span class="glyphicon glyphicon-briefcase"></span>
                      找公司
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a ng-click="nav_search.search_type=3;searchicon='user';" href="">
                      <span class="glyphicon glyphicon-user"></span>
                      找猎头
                    </a>
                  </li>
                </ul>
              </div>
              <input type="text" class="form-control" ng-model="nav_search.serach_key"></div>
          </form>
        </li>
        <li>
          <button class="btn btn-default nav-btn" ng-click="search(nav_search)">
            <span class="glyphicon  glyphicon-search"></span>
            搜索
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" >
        <li >
          <a href="" class="dropdown-toggle">
            <span class="glyphicon glyphicon-envelope"></span>
            站内信
            <span class="label label-primary">{{messages.length}}</span>
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <a class="btn btn-default btn-sm btnmargin" ng-href="company.html#/user/{{user_id}}/message">
              站内信
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </a>
            <a class="btn btn-default btn-sm pull-right btnmargin" ng-href="company.html#/user/{{user_id}}/message">
              <span class="glyphicon  glyphicon-share"></span>
            </a>
            <div class="list-group nav-list">
              <a ng-href="company.html#/user/{{user_id}}/message" class="list-group-item"  ng-repeat="message in messages"> <strong class="list-group-item-heading">{{message.title}}</strong>
                <p>发件人:{{message.dispatch_name}}</p>
                <p>{{message.content}}</p>
              </a>
            </div>
            <a ng-href="company.html#/user/{{user_id}}/message" class="pull-right">查看更多</a>
          </div>
        </li>
        <li >
          <a href="" class="dropdown-toggle">
            <span class="glyphicon  glyphicon-flag"></span>
            通知
            <span class="label label-primary">{{notices.length}}</span>
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <h5 >
              通知
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </h5>
            <div class="list-group nav-list">
              <a ng-href="company.html#/user/{{user_id}}/message" class="list-group-item"  ng-repeat="notice in notices"> <strong class="list-group-item-heading">{{notice.title}}</strong>
                <p>发件人:{{notice.dispatch_name}}</p>
                <p>{{notice.content}}</p>
              </a>
            </div>
            <a ng-href="company.html#/user/{{user_id}}/message" class="pull-right">查看更多</a>
          </div>
        </li>
        <li >
          <a href="" class="dropdown-toggle" >
            <span class="glyphicon  glyphicon-plus" ></span>
            添加好友
            <span class="label label-primary">{{applys.length}}</span>
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <a class="btn btn-default btn-sm btnmargin" ng-href="company.html#/user/{{user_id}}/friends">
              好友管理
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </a>
            <ul class="list-group nav-list">
              <li class="list-group-item"  ng-repeat="apply in applys">
                <p>申请人:{{apply.name}}</p>
                <p >用户类别:{{apply.group|usertype}}</p>
                <p>{{apply.reason}}</p>
                <button class="btn btn-success btn-sm" ng-click="friend_add($index,'agree')">同意</button>
                <button class="btn btn-danger btn-sm" ng-click="friend_add($index,'disagree')">拒绝</button>
              </li>
            </ul>
            <p>找找谁已加入快投</p>
            <a ng-href="company.html#/user/{{user_id}}/friends" class="pull-right">查看更多</a>
          </div>
        </li>
        <li>
          <a href="" class="dropdown-toggle">
            <span class="glyphicon  glyphicon-user"></span>
            个人中心
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <h5 >
              账户设置
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </h5>
            <ul class="list-group nav-list">
              <li class="list-group-item">
                <span class="glyphicon  glyphicon-user"></span>
                {{cn_tname}}
                <a href="" class=" pull-right" ng-click="logout()">退出</a>
              </li>
              <li class="list-group-item">
                <span class="glyphicon  glyphicon-wrench"></span>
                设置
                <a ng-href="company.html#/user/{{user_id}}/setting" class=" pull-right">查看</a>
              </li>
              <li class="list-group-item">
                <span class="glyphicon  glyphicon-folder-open"></span>
                简历管理
                <a ng-href="company.html#/user/{{user_id}}/resume" class="pull-right">查看</a>
              </li>
            </ul>

          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container ">

  <div class="row">
    <div class="col-md-8">
      <div class="page-header">
        <h1>
          简历中心
          <small>Resume</small>
        </h1>
      </div>
      <alert ng-repeat="alert in alerts" type="alert.type" close="delalert($index)">{{alert.msg}}</alert>
      <div class="row">
        <div class="col-md-4">
          <div>
            <img ng-src="{{image_url}}" alt="" class="img-rounded img-responsive resumeimg" >
            <div class="shell">
              <button class="btn btn-info " data-toggle="modal" data-target="#picturenodal">
                <span class="glyphicon  glyphicon-plus"></span>
                添加头像
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <p>
            <strong>{{cn_tname}}</strong>
          </p>
          <p>
            <strong>{{user.eng_name}}</strong>
          </p>
          <p >{{user_profile.etp_name}} | {{user_profile.etp_industry}}</p>
          <p >{{user_profile.etp_nature}} | {{user_profile.etp_size}}</p>
          <p>目前就职: {{user_profile.etp_name}}</p>
        </div>
      </div>
      <div class="well well-lg detailrow">
        <div class="page-header">
          <h3>
            已收简历
            <small>Resume</small>
          </h3>
        </div>
        <legend>已收到简历</legend>
        <div ng-repeat="deliver in delivers" ng-if="deliver.etp_id!==0">
          <h5>职位: {{deliver.recruit_job}}</h5>
          <p>
            来源:
            <a ng-href="search.html#/member/{{deliver.rsm_id}}">{{deliver.rsm_name}}</a>
          </p>
          <p>投递进度:</p>
          <div ng-class="['progress', 'progress-striped','active']">
            <div ng-class="['progress-bar', 'progress-bar-info']" ng-style="{width: deliver.progress + '%'}">
              <div ng-if="deliver.handle_status==='0'">已投递,待查看.</div>
              <div ng-if="deliver.handle_status==='1'">已查看,待回复.</div>
              <div ng-if="deliver.handle_status==='2'">已回复.</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div>
        <h4>可能认识的会员:</h4>
        <div class="well well-sm" ng-repeat="friendcircle in friendcircles">
          <div class="row">
            <div class="col-md-3">
              <img ng-src="http://192.168.1.105:8080/quickcast/upload/{{friendcircle.user_id}}.jpg" alt="" class=" img-rounded img-responsive"></div>
            <div class="col-md-9">
              <a ng-href="company.html#/job/{{friendcircle.user_id}}">{{friendcircle.cn_tname}}</a>
              <p>目前就职: {{friendcircle.etp_name}}</p>
            </div>
          </div>
        </div>
        <a ng-href="user.html#/user/{{user_id}}/friends" class="pull-right">更多推荐</a>
      </div>
      <div class="footer" ng-include="'views/footer.html'"></div>
    </div>
  </div>
</div>

<div class="modal fade" id="picturenodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">上传新头像</h4>
      </div>
      <div class="modal-body">
        <div flow-init="{singleFile:true,target:'http://192.168.1.104:8080/quickcast/upload.do?method=image',query:{upload_token:user_id}}" flow-files-submitted="$flow.upload()" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-complete="$parent.image_url=image_url+'?';" class="ng-scope">
          <h3>
            <a name="image-example" class="anchor" href="#image-example">
              <span class="octicon octicon-link"></span>
            </a>
            请选择图片来上传
          </h3>
          <div class="thumbnail" ng-show="!$flow.files.length">
            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"></div>
          <div class="thumbnail ng-hide" ng-show="$flow.files.length">
            <img flow-img="$flow.files[0]"></div>
          <div class="progress progress-striped" ng-class="{active: $flow.files[0].isUploading()}">
            <div class="progress-bar" role="progressbar"
             aria-valuenow="{{$flow.files[0].progress() * 100}}"
             aria-valuemin="0"
             aria-valuemax="100"
             ng-style="{width: ($flow.files[0].progress() * 100) + '%'}">
              <span class="sr-only">{{$flow.files[0].progress()}}% Complete</span>
            </div>
          </div>
          <div>
            <span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn="">
              选择图片
              <input type="file" style="visibility: hidden; position: absolute;"></span>
            <span class="btn btn-info ng-hide" ng-show="$flow.files.length" flow-btn="">
              更换图片
              <input type="file" style="visibility: hidden; position: absolute;"></span>
          </div>
          <p>请上传PNG,JPG,JEPG 格式的图片.大小不超过200X200像素</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">完成</button>
      </div>
    </div>
  </div>
</div>