<nav class="navbar navbar-default navbar-fixed-top"
  role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="company.html#/user/{{user_id}}">
        <img src="./images/nav_logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav " >
        <li>
          <form class="navbar-form navbar-left" >
            <div class="input-group nav-search" >
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon  glyphicon-{{searchicon}}"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="divider"></li>
                  <li>
                    <a ng-click="nav_search.search_type=1;searchicon='list-alt';" href="">
                      <span class="glyphicon glyphicon-list-alt"></span>
                      找职位
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a ng-click="nav_search.search_type=2;searchicon='briefcase';" href="">
                      <span class="glyphicon glyphicon-briefcase"></span>
                      找公司
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a ng-click="nav_search.search_type=3;searchicon='user';" href="">
                      <span class="glyphicon glyphicon-user"></span>
                      找猎头
                    </a>
                  </li>
                </ul>
              </div>
              <input type="text" class="form-control" ng-model="nav_search.serach_key"></div>
          </form>
        </li>
        <li>
          <button class="btn btn-default nav-btn" ng-click="search(nav_search)">
            <span class="glyphicon  glyphicon-search"></span>
            搜索
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" >
        <li >
          <a href="" class="dropdown-toggle">
            <span class="glyphicon glyphicon-envelope"></span>
            站内信
            <span class="label label-primary">{{messages.length}}</span>
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <a class="btn btn-default btn-sm btnmargin" ng-href="company.html#/user/{{user_id}}/message">
              站内信
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </a>
            <a class="btn btn-default btn-sm pull-right btnmargin" ng-href="company.html#/user/{{user_id}}/message">
              <span class="glyphicon  glyphicon-share"></span>
            </a>
            <div class="list-group nav-list">
              <a ng-href="company.html#/user/{{user_id}}/message" class="list-group-item"  ng-repeat="message in messages"> <strong class="list-group-item-heading">{{message.title}}</strong>
                <p>发件人:{{message.dispatch_name}}</p>
                <p>{{message.content}}</p>
              </a>
            </div>
            <a ng-href="company.html#/user/{{user_id}}/message" class="pull-right">查看更多</a>
          </div>
        </li>
        <li >
          <a href="" class="dropdown-toggle">
            <span class="glyphicon  glyphicon-flag"></span>
            通知
            <span class="label label-primary">{{notices.length}}</span>
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <h5 >
              通知
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </h5>
            <div class="list-group nav-list">
              <a ng-href="company.html#/user/{{user_id}}/message" class="list-group-item"  ng-repeat="notice in notices"> <strong class="list-group-item-heading">{{notice.title}}</strong>
                <p>发件人:{{notice.dispatch_name}}</p>
                <p>{{notice.content}}</p>
              </a>
            </div>
            <a ng-href="company.html#/user/{{user_id}}/message" class="pull-right">查看更多</a>
          </div>
        </li>
        <li >
          <a href="" class="dropdown-toggle" >
            <span class="glyphicon  glyphicon-plus" ></span>
            添加好友
            <span class="label label-primary">{{applys.length}}</span>
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <a class="btn btn-default btn-sm btnmargin" ng-href="company.html#/user/{{user_id}}/friends">
              好友管理
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </a>
            <ul class="list-group nav-list">
              <li class="list-group-item"  ng-repeat="apply in applys">
                <p>申请人:{{apply.name}}</p>
                <p >用户类别:{{apply.group|usertype}}</p>
                <p>{{apply.reason}}</p>
                <button class="btn btn-success btn-sm" ng-click="friend_add($index,'agree')">同意</button>
                <button class="btn btn-danger btn-sm" ng-click="friend_add($index,'disagree')">拒绝</button>
              </li>
            </ul>
            <p>找找谁已加入快投</p>
            <a ng-href="company.html#/user/{{user_id}}/friends" class="pull-right">查看更多</a>
          </div>
        </li>
        <li>
          <a href="" class="dropdown-toggle">
            <span class="glyphicon  glyphicon-user"></span>
            个人中心
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <h5 >
              账户设置
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </h5>
            <ul class="list-group nav-list">
              <li class="list-group-item">
                <span class="glyphicon  glyphicon-user"></span>
                {{cn_tname}}
                <a href="" class=" pull-right" ng-click="logout()">退出</a>
              </li>
              <li class="list-group-item">
                <span class="glyphicon  glyphicon-wrench"></span>
                设置
                <a ng-href="/company.html#/user/{{user_id}}/setting" class=" pull-right">查看</a>
              </li>
              <li class="list-group-item">
                <span class="glyphicon  glyphicon-folder-open"></span>
                简历管理
                <a ng-href="company.html#/user/{{user_id}}/resume" class="pull-right">查看</a>
              </li>
            </ul>

          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="page-header">
    <h1>
      联系人
      <small>Contacts</small>
    </h1>
  </div>
  <alert ng-repeat="alert in alerts" type="alert.type" close="delalert($index)">{{alert.msg}}</alert>
  <div class="row">

    <div class="col-md-3">
      <button class="btn  btn-lg btn-block btn-success" ng-click="friendSwitch.friendsTab='search';active1='';active2='';">
        <span class="glyphicon glyphicon-search"></span>
        找找谁已加入快投!
      </button>
      <ul class="nav nav-pills nav-stacked blockquote">
        <li class="{{active1}}">
          <a href="" ng-click="friendSwitch.friendsTab='other';active1='active';active2='';">
            <span class="glyphicon glyphicon-plus"></span>
            好友申请
            <span class="badge pull-right">{{applys.length}}</span>
          </a>
        </li>
        <li class="{{active2}}">
          <a href="" ng-click="friendSwitch.friendsTab='list';active2='active';active1='';" >
            <span class="glyphicon glyphicon-list"></span>
            联系人列表
            <span class="badge pull-right">
              {{seekerfriends.length+headhunterfriends.length+companyfriends.length}}
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-9">

      <div ng-switch on="friendSwitch.friendsTab">
        <div  ng-switch-when="search">
          <h3>认识的人都加入快投了吗？立即搜索邮箱或姓名找到他们。</h3>
          <div class="input-group regbtn">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {{searchbtn}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a href="" ng-click="searchbtn='邮箱地址';search_key.search_type='email'">
                    <span class="glyphicon glyphicon-envelope"></span>
                    邮箱地址
                  </a>
                </li>
                <li>
                  <a href="" ng-click="searchbtn='姓名';search_key.search_type='name';">
                    <span class="glyphicon glyphicon-user"></span>
                    姓名
                  </a>
                </ul>
              </div>
              <input type="text" class="form-control" ng-model="search_key.keyword" placeholder="通过邮箱或姓名找到好友!"></div>
            <div class="row regbtn">
              <div class="col-md-4" ng-repeat="searchfriend_list in searchfriend_lists">
                <div class="panel panel-default">
                  <div class="panel-heading">{{searchfriend_list.partner_name}}</div>
                  <div class="panel-body">
                    <p>邮箱地址:</p>
                    <p>{{searchfriend_list.partner_email}}</p>
                    <div class="form-group">
                      <label >申请信息:</label>
                      <input type="text" class="form-control"  placeholder="请输入您的申请信息" ng-model="friend_insert.reason"></div>
                    <button type="button" class="btn btn-info" ng-click="searchapply($index,friend_insert)">发送</button>
                  </div>
                </div>
              </div>
            </div>
            <h3 class="regbtn">你可能认识这些人,赶紧和他们成为好友!</h3>
            <div class="row">
              <div class="col-md-4" ng-repeat="friendcircle in friendcircles">
                <div class="panel panel-default">
                  <div class="panel-heading">{{friendcircle.name}}</div>
                  <div class="panel-body">
                    <p>{{friendcircle.content}}</p>
                    <button type="button" class="btn btn-danger" ng-click="circleapply($index)">add</button>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-primary messagebtn" ng-click="findfriend(search_key)">搜索</button>
            <button class="btn btn-info messagebtn" ng-click="friendSwitch.friendsTab='other';">取消</button>
          </div>

          <div  ng-switch-when="list">
            <tabset justified="true">
              <tab heading="求职者">
                <div class="list-group">
                  <li  class="list-group-item"  ng-repeat="seekerfriend in seekerfriends">
                    <h4>
                      <strong class="list-group-item-heading">{{seekerfriend.partner_name}}</strong>
                    </h4>
                    <p >联系方式:{{seekerfriend.partner_email}}</p>
                    <button class="btn btn-success btn-sm" ng-click="friendtomessage($index,'seeker')">
                      <span class="glyphicon glyphicon-edit" ></span>
                      站内信
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="friendpage($index,'seeker')">
                      <span class="glyphicon glyphicon-send"></span>
                      查看主页
                    </button>
                    <button class="btn btn-danger btn-sm pull-right" ng-click="delfriend($index,'seeker');">
                      <span class="glyphicon glyphicon-trash"></span>
                      删除好友
                    </button>
                  </li>
                </div>
              </tab>
              <tab heading="猎头">
                <div class="list-group">
                  <li  class="list-group-item"  ng-repeat="headhunterfriend in headhunterfriends">
                    <h4>
                      <strong class="list-group-item-heading">{{headhunterfriend.partner_name}}</strong>
                    </h4>
                    <p >联系方式:{{headhunterfriend.partner_email}}</p>
                    <button class="btn btn-success btn-sm" ng-click="friendtomessage($index,'headhunter')">
                      <span class="glyphicon glyphicon-edit"></span>
                      站内信
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="friendpage($index,'headhunter')">
                      <span class="glyphicon glyphicon-send"></span>
                      查看主页
                    </button>
                    <button class="btn btn-danger btn-sm pull-right" ng-click="delfriend($index,'headhunter');">
                      <span class="glyphicon glyphicon-trash"></span>
                      删除好友
                    </button>
                  </li>
                </div>
              </tab>
              <tab heading="企业">
                <div class="list-group">
                  <li  class="list-group-item"  ng-repeat="companyfriend in companyfriends">
                    <h4>
                      <strong class="list-group-item-heading">{{companyfriend.partner_name}}</strong>
                    </h4>
                    <p >联系方式:{{companyfriend.partner_email}}</p>

                    <button class="btn btn-success btn-sm" ng-click="friendtomessage($index,'company')">
                      <span class="glyphicon glyphicon-edit"></span>
                      站内信
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="friendpage($index,'company')">
                      <span class="glyphicon glyphicon-send"></span>
                      查看主页
                    </button>
                    <button class="btn btn-danger btn-sm pull-right" ng-click="delfriend($index,'company');">
                      <span class="glyphicon glyphicon-trash"></span>
                      删除好友
                    </button>
                  </li>
                </div>
              </tab>
            </tabset>

          </div>

          <div  ng-switch-default>
            <div class="list-group">
              <li  class="list-group-item"  ng-repeat="apply in applys">
                <p >
                  申请人:
                  <strong>{{apply.name}}</strong>
                </p>
                <p >用户类别:{{apply.group|usertype}}</p>
                <p >{{apply.reason}}</p>
                <button class="btn btn-success btn-sm" ng-click="friend_add($index,'agree')">
                  <span class="glyphicon glyphicon-edit"></span>
                  同意
                </button>
                <button class="btn btn-danger btn-sm" ng-click="friend_add($index,'disagree')">
                  <span class="glyphicon glyphicon-trash"></span>
                  拒绝
                </button>
              </li>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>
      Quick Cast | 快投 ©2014
      <a ng-href="/">主页</a>
      |
      <a ng-href="/">意见与反馈</a>
      |
      <a ng-href="/#/about">关于我们</a>
    </p>
    <p>
      Designed and built with
      <a href="http://www.bootcss.com">Bootstrap</a>
      and
      <a href="http://angularjs.org">Angularjs</a>
      by
      <a href="http://www.playingcn.com">@playing</a>
    </p>
    <p>
      Based on
      <a href="http://nodejs.org/">node.js</a>
      , 
    use
      <a href="http://gruntjs.com/">Grunt</a>
      ,
      <a href="http://bower.io/">Bower</a>
      ,
    and
      <a href="http://yeoman.io/">Yeoman</a>
    </p>
  </div>