<nav class="navbar navbar-default navbar-fixed-top"
  role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="#/">
        <img src="./images/nav_logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav navbar-right" >
        <form class="navbar-form navbar-left" >
          <div class="form-group">
            <input type="text" class="form-control" placeholder="账号"></div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="密码"></div>
        </form>
        <li >
          <button class="btn btn-info nav-btn" ng-click="login()">登录快投</button>
        </li>
        <li >
          <button class="btn btn-default nav-btn" ng-click="resetpassword()">忘记密码</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="abouthead"></div>
  <div class="jumbotron">
    <div class="page-header">
      <h1>
        Paragon
        <small>About Us</small>
      </h1>
    </div>

    <div class="page-header">
      <h3 id="team_introduce">团队介绍</h3>
    </div>
    <p class="lead">Paragon:天选之人,这个名字来源于我们的不懈追求,为了更完美更优秀的作品.</p>
    <p>我们是来自华中科技大学软件学院的团队,很高兴能和每一位成员聚集在一起,组成这个团队,</p>

    <div class="page-header">
      <h3 id="team_member">团队成员</h3>
    </div>
    <p class="lead">感谢Paragon团队的每一位成员,他们都为项目做出了巨大的贡献,提供了巨大的帮助和支持。</p>
    <ul>
      <li>队长:姜昊良</li>
      <li>黄杰</li>
      <li>黄威</li>
      <li>黄凯</li>
      <li>王一桐</li>
    </ul>

    <div class="page-header">
      <h3 id="project">项目介绍</h3>
    </div>
    <p class="lead">Quick Cast 快投网</p>

    <div class="page-header">
      <h3 id="contact">联系我们</h3>
    </div>
    <p class="lead">如果你有任何意见或者建议,以及自己的看法,请联系我们!</p>
    <address> <strong>E-mail</strong>
      <br>
      <a href="mailto:deadplaying@gmail.com">deadplaying@gmail.com</a>
    </address>

  </div>
</div>

<div class="footer">
  <p>
    Quick Cast | 快投 ©2014
    <a ng-href="#/">主页</a>
    |
    <a ng-href="#/opinion">意见与反馈</a>
    |
    <a ng-href="#/about">关于我们</a>
  </p>
  <p>
    Designed and built with
    <a href="http://www.bootcss.com">Bootstrap</a>
    and
    <a href="http://angularjs.org">Angularjs</a>
    by
    <a href="http://www.playingcn.com">@playing</a>
    .
  </p>
  <p>
    Based on
    <a href="http://nodejs.org/">node.js</a>
    , use
    <a href="http://gruntjs.com/">Grunt</a>
    ,
    <a href="http://bower.io/">Bower</a>
    ,and
    <a href="http://yeoman.io/">Yeoman</a>
    .
  </p>
</div>