<p>
    Quick Cast | 快投 ©2014
    <a href="http://www.playingcn.com/quickcast">主页</a>
    |
    <a href="http://www.playingcn.com/quickcast">意见与反馈</a>
    |
    <a href="http://www.playingcn.com/quickcast/#/about">关于我们</a>
    |
    <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备14030615号</a>
</p>
<p>
    Designed and built with
    <a href="http://www.bootcss.com" target="_blank">Bootstrap</a>
    and
    <a href="http://angularjs.org" target="_blank">Angularjs</a>
    by
    <a href="https://github.com/playing/" target="_blank">@playing</a>
    .
</p>
<p>
    Based on
    <a href="http://nodejs.org/" target="_blank">node.js</a>
    , use
    <a href="http://gruntjs.com/" target="_blank">Grunt</a>
    ,
    <a href="http://bower.io/" target="_blank">Bower</a>
    ,and
    <a href="http://yeoman.io/" target="_blank">Yeoman</a>
    .
</p>