<nav class="navbar navbar-default navbar-fixed-top"
  role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="index">
        <img src="./images/nav_logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav navbar-right" >
        <form class="navbar-form navbar-left" >
          <div class="form-group">
            <input type="text" class="form-control" placeholder="账号" ng-model="user_login.user_name"></div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="密码" ng-model="user_login.password"></div>
        </form>
        <li >
          <button class="btn btn-info nav-btn" ng-click="login()">登录快投</button>
        </li>
        <li >
          <button class="btn btn-default nav-btn" ng-click="resetpassword()">忘记密码</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container index">
  <h1 class="text-center">寻找关系,探寻机会,分享智慧.</h1>
  <h1 class="text-center">Connect, share ideas, and discover opportunities.</h1>
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
  <div class="row detailrow">
    <div class="col-md-6">
      <img src="./images/index_head_1.png">
      <img src="./images/index_head_2.png">
      <img src="./images/index_head_3.png">
      <img src="./images/index_head_4.png">
      <img src="./images/index_head_5.png">
      <img src="./images/index_head_6.png"></div>
    <div class="col-md-5">
      <h3> <strong>马上加入:</strong>
      </h3>
      <p>只需两分钟,就能加入快投.</p>
      <form class="form-inline" role="form" novalidate >
        <div class="form-group">
          <input type="text" class="form-control"  placeholder="中文名" ng-model="user_reg.cn_tname" ></div>
        <div class="form-group pull-right">
          <input type="text" class="form-control "  placeholder="英文名(可选)" ng-model="user_reg.eng_name"></div>
      </form>
      <form class="regform" role="form" novalidate>
        <div class="form-group">
          <input type="text" class="form-control"  placeholder="账号" ng-model="user_reg.user_name" ></div>
        <div class="form-group"> 
          <input type="password" class="form-control"  placeholder="密码" ng-model="user_reg.password"></div>
      </form>
      <button type="button" class="btn btn-success btn-block btn-lg regbtn" ng-click="register(user_reg)" >加入我们</button>
    </div>
  </div>
  <blockquote  class=" blockquote">
    <p>"在快投网,我们每天都能找到潜在的客户,员工以及合作伙伴."</p>
    <small>David Duan, Co-founder of oTMS.cn</small>
  </blockquote>
  <blockquote  class=" blockquote pull-right">
    <p>"快投网真的很好,拓展了职业人脉,找到了工作机会,还提升了个人的技能!"</p>
    <small>Haoliang Jiang, Job Seekers from WuHan.</small>
  </blockquote>
  <button></button>
</div>
<div class="footer">
  <p>
    Quick Cast | 快投 ©2014
    <a ui-sref="index">主页</a>
    |
    <a ui-sref="opinion">意见与反馈</a>
    |
    <a ui-sref="about">关于我们</a>
  </p>
  <p>
    Designed and built with
    <a href="http://www.bootcss.com">Bootstrap</a>
    and
    <a href="http://angularjs.org">Angularjs</a>
    by
    <a href="http://www.playingcn.com">@playing</a>
    .
  </p>
  <p>
    Based on
    <a href="http://nodejs.org/">node.js</a>
    , use
    <a href="http://gruntjs.com/">Grunt</a>
    ,
    <a href="http://bower.io/">Bower</a>
    ,and
    <a href="http://yeoman.io/">Yeoman</a>
    .
  </p>
</div>