<nav class="navbar navbar-default navbar-fixed-top"
  role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="index">
        <img src="./images/nav_logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav navbar-right" >
        <li>
          <a href="">{{user_reg.cn_tname}}欢迎你!</a>
        </li>
        <li>
          <button class="btn btn-danger nav-btn" ng-click="logout()">退出</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container index" >
  <div class="page-header">
    <h1>
      详细信息
      <small>带* 为必须填写内容.</small>
    </h1>
  </div>
  <h2>{{user_reg.cn_tname}} 让我们来一起完善你的个人信息!</h2>
  <alert ng-repeat="alert in alerts" type="alert.type" close="delalert($index)">{{alert.msg}}</alert>
  <div class="row detailrow">
    <div class="col-md-7">
      <div class="form-group">
        <label >国籍:</label>
        <p class="form-control-static">中国 China</p>
      </div>
      <div class="form-group">
        <label >省份:</label>
        <select class="form-control prform" ng-model="user_profile.work_place">
          <option value="0">选择省份</option>
          <option value="北京">北京</option>
          <option value="上海">上海</option>
          <option value="安徽">安徽</option>
          <option value="重庆">重庆</option>
          <option value="福建">福建</option>
          <option value="甘肃">甘肃</option>
          <option value="广东">广东</option>
          <option value="广西">广西</option>
          <option value="贵州">贵州</option>
          <option value="海南">海南</option>
          <option value="河北">河北</option>
          <option value="黑龙江">黑龙江</option>
          <option value="河南">河南</option>
          <option value="湖北">湖北</option>
          <option value="湖南">湖南</option>
          <option value="内蒙古">内蒙古</option>
          <option value="江苏">江苏</option>
          <option value="江西">江西</option>
          <option value="吉林">吉林</option>
          <option value="辽宁">辽宁</option>
          <option value="宁夏">宁夏</option>
          <option value="青海">青海</option>
          <option value="陕西">陕西</option>
          <option value="山东">山东</option>
          <option value="山西">山西</option>
          <option value="四川">四川</option>
          <option value="天津">天津</option>
          <option value="西藏">西藏</option>
          <option value="新疆">新疆</option>
          <option value="云南">云南</option>
          <option value="浙江">浙江</option>
        </select>
      </div>
      <div class="form-group">
        <label >联系电话:</label>
        <input type="text" class="form-control prform" ng-model="user_profile.mobile" ></div>
      <div class="form-group">
        <label >年龄:</label>
        <input type="text" class="form-control prform" ng-model="user_profile.age" ></div>
      <div class="form-group">
        <label >性别:</label>
        <select  class="form-control prform" ng-model="user_profile.gender">
          <option value="男">男</option>
          <option value="女">女</option>
        </select>
      </div>
      <h3 >请选择您的身份:</h3>
      <button class="btn btn-default btn-lg" ng-click="isCollapsed2=0;isCollapsed3=0;isCollapsed1 = !isCollapsed1;user_profile.type=1;">
        <span class="glyphicon glyphicon-file"></span>
        求职者
      </button>
      <button class="btn btn-default btn-lg" ng-click="isCollapsed1=0;isCollapsed3=0;isCollapsed2 = !isCollapsed2;user_profile.type=2;">
        <span class="glyphicon glyphicon-briefcase"></span>
        雇主
      </button>
      <button class="btn btn-default btn-lg" ng-click="isCollapsed2=0;isCollapsed1=0;isCollapsed3 = !isCollapsed3;user_profile.type=3;">
        <span class="glyphicon glyphicon-user"></span>
        猎头
      </button>
      <div class="detailrow">
        <div collapse="!isCollapsed1">
          <form role="form">
            <div class="form-group">
              <label >最近职位头衔:</label>
              <input type="text" class="form-control prform"  ng-model="user_profile.seeker_profession"></div>
            <div class="form-group">
              <label >最近就职公司:</label>
              <input type="text" class="form-control prform" ng-model="user_profile.etp_name"></div>
            <div class="form-group">
              <label >最近就职行业:</label>
              <select class="form-control prform" ng-model="user_profile.etp_industry">
                <option value="0">选择...</option>
                <option value="安全和调查">安全和调查</option>
                <option value="半导体">半导体</option>
                <option value="包装和集装箱">包装和集装箱</option>
                <option value="保险">保险</option>
                <option value="报纸">报纸</option>
                <option value="玻璃、陶瓷和混凝土">玻璃、陶瓷和混凝土</option>
                <option value="博彩">博彩</option>
                <option value="博物馆和展览机构">博物馆和展览机构</option>
                <option value="采矿/金属">采矿/金属</option>
                <option value="餐饮服务">餐饮服务</option>
                <option value="仓储">仓储</option>
                <option value="超市">超市</option>
                <option value="程序开发">程序开发</option>
                <option value="出版">出版</option>
                <option value="慈善">慈善</option>
                <option value="电脑游戏">电脑游戏</option>
                <option value="电器/电子制造">电器/电子制造</option>
                <option value="电信">电信</option>
                <option value="电子产品">电子产品</option>
                <option value="动画">动画</option>
                <option value="法律服务">法律服务</option>
                <option value="翻译和本地化">翻译和本地化</option>
                <option value="房地产">房地产</option>
                <option value="纺织">纺织</option>
                <option value="非营利组织管理">非营利组织管理</option>
                <option value="风险投资和私募股权">风险投资和私募股权</option>
                <option value="服务业">服务业</option>
                <option value="服装和时尚">服装和时尚</option>
                <option value="高等教育">高等教育</option>
                <option value="工业自动化">工业自动化</option>
                <option value="工艺美术">工艺美术</option>
                <option value="公共安全">公共安全</option>
                <option value="公共基础设施">公共基础设施</option>
                <option value="公共政策">公共政策</option>
                <option value="公关传播">公关传播</option>
                <option value="管理咨询">管理咨询</option>
                <option value="广电传媒">广电传媒</option>
                <option value="国防和航空">国防和航空</option>
                <option value="国际贸易和发展">国际贸易和发展</option>
                <option value="国际事务">国际事务</option>
                <option value="海事">海事</option>
                <option value="航空航天">航空航天</option>
                <option value="互联网">互联网</option>
                <option value="化学">化学</option>
                <option value="化妆品">化妆品</option>
                <option value="环境服务">环境服务</option>
                <option value="会计">会计</option>
                <option value="活动服务">活动服务</option>
                <option value="货物包装及运送">货物包装及运送</option>
                <option value="机械">机械</option>
                <option value="机械和工业设计">机械和工业设计</option>
                <option value="集资">集资</option>
                <option value="计算机和网络安全">计算机和网络安全</option>
                <option value="计算机软件">计算机软件</option>
                <option value="计算机网络">计算机网络</option>
                <option value="计算机硬件">计算机硬件</option>
                <option value="家具">家具</option>
                <option value="家政服务">家政服务</option>
                <option value="健康、运动和健身">健康、运动和健身</option>
                <option value="建材">建材</option>
                <option value="建筑">建筑</option>
                <option value="建筑和规划">建筑和规划</option>
                <option value="交通、汽车及铁路运输">交通、汽车及铁路运输</option>
                <option value="教育管理">教育管理</option>
                <option value="金融服务">金融服务</option>
                <option value="进出口">进出口</option>
                <option value="精细工艺">精细工艺</option>
                <option value="酒店">酒店</option>
                <option value="军事">军事</option>
                <option value="可再生品和环境">可再生品和环境</option>
                <option value="立法机关">立法机关</option>
                <option value="零售">零售</option>
                <option value="旅游观光">旅游观光</option>
                <option value="律师">律师</option>
                <option value="媒体制作">媒体制作</option>
                <option value="民航/航空">民航/航空</option>
                <option value="民间和社会组织">民间和社会组织</option>
                <option value="牧业">牧业</option>
                <option value="纳米技术">纳米技术</option>
                <option value="酿酒">酿酒</option>
                <option value="批发">批发</option>
                <option value="平面设计">平面设计</option>
                <option value="汽车">汽车</option>
                <option value="人力资源">人力资源</option>
                <option value="日用品">日用品</option>
                <option value="乳业">乳业</option>
                <option value="商业地产">商业地产</option>
                <option value="商业用品和设备">商业用品和设备</option>
                <option value="奢侈品和珠宝">奢侈品和珠宝</option>
                <option value="摄影">摄影</option>
                <option value="设计">设计</option>
                <option value="设施服务">设施服务</option>
                <option value="生物技术">生物技术</option>
                <option value="石油和能源">石油和能源</option>
                <option value="食品加工">食品加工</option>
                <option value="食品饮料">食品饮料</option>
                <option value="市场研究">市场研究</option>
                <option value="市场营销与广告">市场营销与广告</option>
                <option value="兽医">兽医</option>
                <option value="数字化学习">数字化学习</option>
                <option value="司法机关">司法机关</option>
                <option value="塑料">塑料</option>
                <option value="体育">体育</option>
                <option value="体育器材">体育器材</option>
                <option value="替代性纠纷解决">替代性纠纷解决</option>
                <option value="替代医学">替代医学</option>
                <option value="铁路设备制造">铁路设备制造</option>
                <option value="投资管理">投资管理</option>
                <option value="投资银行">投资银行</option>
                <option value="图书馆">图书馆</option>
                <option value="土木工程">土木工程</option>
                <option value="外包/离岸外包">外包/离岸外包</option>
                <option value="网络媒体">网络媒体</option>
                <option value="无线通讯">无线通讯</option>
                <option value="舞台表演">舞台表演</option>
                <option value="物流和供应链管理">物流和供应链管理</option>
                <option value="写作和编辑">写作和编辑</option>
                <option value="心理保健">心理保健</option>
                <option value="信息服务">信息服务</option>
                <option value="信息技术和服务">信息技术和服务</option>
                <option value="行政机关">行政机关</option>
                <option value="休闲设施和服务">休闲设施和服务</option>
                <option value="学术研究">学术研究</option>
                <option value="烟草">烟草</option>
                <option value="养殖">养殖</option>
                <option value="医疗保健">医疗保健</option>
                <option value="医疗服务">医疗服务</option>
                <option value="医疗设备">医疗设备</option>
                <option value="音乐">音乐</option>
                <option value="银行">银行</option>
                <option value="印刷">印刷</option>
                <option value="影视">影视</option>
                <option value="渔业">渔业</option>
                <option value="娱乐">娱乐</option>
                <option value="造船">造船</option>
                <option value="招聘和猎聘">招聘和猎聘</option>
                <option value="政府公关">政府公关</option>
                <option value="政治组织">政治组织</option>
                <option value="执法机关">执法机关</option>
                <option value="执行机关">执行机关</option>
                <option value="纸品与林木产品">纸品与林木产品</option>
                <option value="制药">制药</option>
                <option value="智囊团">智囊团</option>
                <option value="中小学教育">中小学教育</option>
                <option value="专业培训和指导">专业培训和指导</option>
                <option value="资本市场">资本市场</option>
                <option value="宗教机构">宗教机构</option>
              </select>
            </div>
            <label >个人介绍:</label>
            <textarea  class="form-control prform" rows="5" ng-model="user_profile.self_intro"></textarea>
          </form>
          <form class="form-inline" role="form">
            <div class="form-group">
              <label class="blocklabel">时间:</label>
              <select class="form-control" ng-model="user_profile.start_time">
                <option value="0" selected="">-</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
                <option value="2009">2009</option>
                <option value="2008">2008</option>
                <option value="2007">2007</option>
                <option value="2006">2006</option>
                <option value="2005">2005</option>
                <option value="2004">2004</option>
                <option value="2003">2003</option>
                <option value="2002">2002</option>
                <option value="2001">2001</option>
                <option value="2000">2000</option>
                <option value="1999">1999</option>
                <option value="1998">1998</option>
                <option value="1997">1997</option>
                <option value="1996">1996</option>
                <option value="1995">1995</option>
                <option value="1994">1994</option>
                <option value="1993">1993</option>
                <option value="1992">1992</option>
                <option value="1991">1991</option>
                <option value="1990">1990</option>
                <option value="1989">1989</option>
                <option value="1988">1988</option>
                <option value="1987">1987</option>
                <option value="1986">1986</option>
                <option value="1985">1985</option>
                <option value="1984">1984</option>
                <option value="1983">1983</option>
                <option value="1982">1982</option>
                <option value="1981">1981</option>
                <option value="1980">1980</option>
              </select>
              <label class="inlinelabel">到</label>
              <select class="form-control" ng-model="user_profile.end_time">
                <option value="0" selected="">-</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
                <option value="2009">2009</option>
                <option value="2008">2008</option>
                <option value="2007">2007</option>
                <option value="2006">2006</option>
                <option value="2005">2005</option>
                <option value="2004">2004</option>
                <option value="2003">2003</option>
                <option value="2002">2002</option>
                <option value="2001">2001</option>
                <option value="2000">2000</option>
                <option value="1999">1999</option>
                <option value="1998">1998</option>
                <option value="1997">1997</option>
                <option value="1996">1996</option>
                <option value="1995">1995</option>
                <option value="1994">1994</option>
                <option value="1993">1993</option>
                <option value="1992">1992</option>
                <option value="1991">1991</option>
                <option value="1990">1990</option>
                <option value="1989">1989</option>
                <option value="1988">1988</option>
                <option value="1987">1987</option>
                <option value="1986">1986</option>
                <option value="1985">1985</option>
                <option value="1984">1984</option>
                <option value="1983">1983</option>
                <option value="1982">1982</option>
                <option value="1981">1981</option>
                <option value="1980">1980</option>
              </select>
            </div>
          </form>
        </div>
        <div collapse="!isCollapsed2">
          <form role="form">
            <div class="form-group">
              <label >企业名称:</label>
              <input type="text" class="form-control prform" ng-model="user_profile.etp_name" ></div>
            <div class="form-group">
              <label >企业规模:</label>
              <select class="form-control prform" ng-model="user_profile.etp_size">
                <option value="0">选择...</option>
                <option value="1-10人">1-10人</option>
                <option value="11-50人">11-50人</option>
                <option value="51-200人">51-200人</option>
                <option value="201-500人">201-500人</option>
                <option value="501-1000人">501-1000人</option>
                <option value="1000人以上">1000人以上</option>
              </select>
            </div>
            <div class="form-group">
              <label >所在行业:</label>
              <select class="form-control prform" ng-model="user_profile.etp_industry">
                <option value="0">选择...</option>
                <option value="安全和调查">安全和调查</option>
                <option value="半导体">半导体</option>
                <option value="包装和集装箱">包装和集装箱</option>
                <option value="保险">保险</option>
                <option value="报纸">报纸</option>
                <option value="玻璃、陶瓷和混凝土">玻璃、陶瓷和混凝土</option>
                <option value="博彩">博彩</option>
                <option value="博物馆和展览机构">博物馆和展览机构</option>
                <option value="采矿/金属">采矿/金属</option>
                <option value="餐饮服务">餐饮服务</option>
                <option value="仓储">仓储</option>
                <option value="超市">超市</option>
                <option value="程序开发">程序开发</option>
                <option value="出版">出版</option>
                <option value="慈善">慈善</option>
                <option value="电脑游戏">电脑游戏</option>
                <option value="电器/电子制造">电器/电子制造</option>
                <option value="电信">电信</option>
                <option value="电子产品">电子产品</option>
                <option value="动画">动画</option>
                <option value="法律服务">法律服务</option>
                <option value="翻译和本地化">翻译和本地化</option>
                <option value="房地产">房地产</option>
                <option value="纺织">纺织</option>
                <option value="非营利组织管理">非营利组织管理</option>
                <option value="风险投资和私募股权">风险投资和私募股权</option>
                <option value="服务业">服务业</option>
                <option value="服装和时尚">服装和时尚</option>
                <option value="高等教育">高等教育</option>
                <option value="工业自动化">工业自动化</option>
                <option value="工艺美术">工艺美术</option>
                <option value="公共安全">公共安全</option>
                <option value="公共基础设施">公共基础设施</option>
                <option value="公共政策">公共政策</option>
                <option value="公关传播">公关传播</option>
                <option value="管理咨询">管理咨询</option>
                <option value="广电传媒">广电传媒</option>
                <option value="国防和航空">国防和航空</option>
                <option value="国际贸易和发展">国际贸易和发展</option>
                <option value="国际事务">国际事务</option>
                <option value="海事">海事</option>
                <option value="航空航天">航空航天</option>
                <option value="互联网">互联网</option>
                <option value="化学">化学</option>
                <option value="化妆品">化妆品</option>
                <option value="环境服务">环境服务</option>
                <option value="会计">会计</option>
                <option value="活动服务">活动服务</option>
                <option value="货物包装及运送">货物包装及运送</option>
                <option value="机械">机械</option>
                <option value="机械和工业设计">机械和工业设计</option>
                <option value="集资">集资</option>
                <option value="计算机和网络安全">计算机和网络安全</option>
                <option value="计算机软件">计算机软件</option>
                <option value="计算机网络">计算机网络</option>
                <option value="计算机硬件">计算机硬件</option>
                <option value="家具">家具</option>
                <option value="家政服务">家政服务</option>
                <option value="健康、运动和健身">健康、运动和健身</option>
                <option value="建材">建材</option>
                <option value="建筑">建筑</option>
                <option value="建筑和规划">建筑和规划</option>
                <option value="交通、汽车及铁路运输">交通、汽车及铁路运输</option>
                <option value="教育管理">教育管理</option>
                <option value="金融服务">金融服务</option>
                <option value="进出口">进出口</option>
                <option value="精细工艺">精细工艺</option>
                <option value="酒店">酒店</option>
                <option value="军事">军事</option>
                <option value="可再生品和环境">可再生品和环境</option>
                <option value="立法机关">立法机关</option>
                <option value="零售">零售</option>
                <option value="旅游观光">旅游观光</option>
                <option value="律师">律师</option>
                <option value="媒体制作">媒体制作</option>
                <option value="民航/航空">民航/航空</option>
                <option value="民间和社会组织">民间和社会组织</option>
                <option value="牧业">牧业</option>
                <option value="纳米技术">纳米技术</option>
                <option value="酿酒">酿酒</option>
                <option value="批发">批发</option>
                <option value="平面设计">平面设计</option>
                <option value="汽车">汽车</option>
                <option value="人力资源">人力资源</option>
                <option value="日用品">日用品</option>
                <option value="乳业">乳业</option>
                <option value="商业地产">商业地产</option>
                <option value="商业用品和设备">商业用品和设备</option>
                <option value="奢侈品和珠宝">奢侈品和珠宝</option>
                <option value="摄影">摄影</option>
                <option value="设计">设计</option>
                <option value="设施服务">设施服务</option>
                <option value="生物技术">生物技术</option>
                <option value="石油和能源">石油和能源</option>
                <option value="食品加工">食品加工</option>
                <option value="食品饮料">食品饮料</option>
                <option value="市场研究">市场研究</option>
                <option value="市场营销与广告">市场营销与广告</option>
                <option value="兽医">兽医</option>
                <option value="数字化学习">数字化学习</option>
                <option value="司法机关">司法机关</option>
                <option value="塑料">塑料</option>
                <option value="体育">体育</option>
                <option value="体育器材">体育器材</option>
                <option value="替代性纠纷解决">替代性纠纷解决</option>
                <option value="替代医学">替代医学</option>
                <option value="铁路设备制造">铁路设备制造</option>
                <option value="投资管理">投资管理</option>
                <option value="投资银行">投资银行</option>
                <option value="图书馆">图书馆</option>
                <option value="土木工程">土木工程</option>
                <option value="外包/离岸外包">外包/离岸外包</option>
                <option value="网络媒体">网络媒体</option>
                <option value="无线通讯">无线通讯</option>
                <option value="舞台表演">舞台表演</option>
                <option value="物流和供应链管理">物流和供应链管理</option>
                <option value="写作和编辑">写作和编辑</option>
                <option value="心理保健">心理保健</option>
                <option value="信息服务">信息服务</option>
                <option value="信息技术和服务">信息技术和服务</option>
                <option value="行政机关">行政机关</option>
                <option value="休闲设施和服务">休闲设施和服务</option>
                <option value="学术研究">学术研究</option>
                <option value="烟草">烟草</option>
                <option value="养殖">养殖</option>
                <option value="医疗保健">医疗保健</option>
                <option value="医疗服务">医疗服务</option>
                <option value="医疗设备">医疗设备</option>
                <option value="音乐">音乐</option>
                <option value="银行">银行</option>
                <option value="印刷">印刷</option>
                <option value="影视">影视</option>
                <option value="渔业">渔业</option>
                <option value="娱乐">娱乐</option>
                <option value="造船">造船</option>
                <option value="招聘和猎聘">招聘和猎聘</option>
                <option value="政府公关">政府公关</option>
                <option value="政治组织">政治组织</option>
                <option value="执法机关">执法机关</option>
                <option value="执行机关">执行机关</option>
                <option value="纸品与林木产品">纸品与林木产品</option>
                <option value="制药">制药</option>
                <option value="智囊团">智囊团</option>
                <option value="中小学教育">中小学教育</option>
                <option value="专业培训和指导">专业培训和指导</option>
                <option value="资本市场">资本市场</option>
                <option value="宗教机构">宗教机构</option>
              </select>
            </div>
            <div class="form-group">
              <label >企业性质:</label>
              <select class="form-control prform" ng-model="user_profile.etp_nature">
                <option value="0">选择...</option>
                <option value="国有企业">国有企业</option>
                <option value="合资企业">合资企业</option>
                <option value="独资企业">独资企业</option>
                <option value="私营企业">私营企业</option>
              </select>
            </div>
            <div class="form-group">
              <label >通讯地址:</label>
              <input type="text" class="form-control prform" ng-model="user_profile.msg_addr"></div>
            <div class="form-group">
              <label >联系人:</label>
              <input type="text" class="form-control prform" ng-model="user_profile.contact_person"></div>
            <label >企业介绍:</label>
            <textarea  class="form-control prform" rows="5" ng-model="user_profile.etp_intro"></textarea>
          </form>
        </div>
        <div collapse="!isCollapsed3">
          <form role="form">
            <div class="form-group">
              <label >公司名称:</label>
              <input type="text" class="form-control prform" ng-model="user_profile.etp_name" ></div>
            <div class="form-group">
              <label >擅长领域:</label>
              <select class="form-control prform" ng-model="user_profile.t_area">
                <option value="0">选择...</option>
                <option value="安全和调查">安全和调查</option>
                <option value="半导体">半导体</option>
                <option value="包装和集装箱">包装和集装箱</option>
                <option value="保险">保险</option>
                <option value="报纸">报纸</option>
                <option value="玻璃、陶瓷和混凝土">玻璃、陶瓷和混凝土</option>
                <option value="博彩">博彩</option>
                <option value="博物馆和展览机构">博物馆和展览机构</option>
                <option value="采矿/金属">采矿/金属</option>
                <option value="餐饮服务">餐饮服务</option>
                <option value="仓储">仓储</option>
                <option value="超市">超市</option>
                <option value="程序开发">程序开发</option>
                <option value="出版">出版</option>
                <option value="慈善">慈善</option>
                <option value="电脑游戏">电脑游戏</option>
                <option value="电器/电子制造">电器/电子制造</option>
                <option value="电信">电信</option>
                <option value="电子产品">电子产品</option>
                <option value="动画">动画</option>
                <option value="法律服务">法律服务</option>
                <option value="翻译和本地化">翻译和本地化</option>
                <option value="房地产">房地产</option>
                <option value="纺织">纺织</option>
                <option value="非营利组织管理">非营利组织管理</option>
                <option value="风险投资和私募股权">风险投资和私募股权</option>
                <option value="服务业">服务业</option>
                <option value="服装和时尚">服装和时尚</option>
                <option value="高等教育">高等教育</option>
                <option value="工业自动化">工业自动化</option>
                <option value="工艺美术">工艺美术</option>
                <option value="公共安全">公共安全</option>
                <option value="公共基础设施">公共基础设施</option>
                <option value="公共政策">公共政策</option>
                <option value="公关传播">公关传播</option>
                <option value="管理咨询">管理咨询</option>
                <option value="广电传媒">广电传媒</option>
                <option value="国防和航空">国防和航空</option>
                <option value="国际贸易和发展">国际贸易和发展</option>
                <option value="国际事务">国际事务</option>
                <option value="海事">海事</option>
                <option value="航空航天">航空航天</option>
                <option value="互联网">互联网</option>
                <option value="化学">化学</option>
                <option value="化妆品">化妆品</option>
                <option value="环境服务">环境服务</option>
                <option value="会计">会计</option>
                <option value="活动服务">活动服务</option>
                <option value="货物包装及运送">货物包装及运送</option>
                <option value="机械">机械</option>
                <option value="机械和工业设计">机械和工业设计</option>
                <option value="集资">集资</option>
                <option value="计算机和网络安全">计算机和网络安全</option>
                <option value="计算机软件">计算机软件</option>
                <option value="计算机网络">计算机网络</option>
                <option value="计算机硬件">计算机硬件</option>
                <option value="家具">家具</option>
                <option value="家政服务">家政服务</option>
                <option value="健康、运动和健身">健康、运动和健身</option>
                <option value="建材">建材</option>
                <option value="建筑">建筑</option>
                <option value="建筑和规划">建筑和规划</option>
                <option value="交通、汽车及铁路运输">交通、汽车及铁路运输</option>
                <option value="教育管理">教育管理</option>
                <option value="金融服务">金融服务</option>
                <option value="进出口">进出口</option>
                <option value="精细工艺">精细工艺</option>
                <option value="酒店">酒店</option>
                <option value="军事">军事</option>
                <option value="可再生品和环境">可再生品和环境</option>
                <option value="立法机关">立法机关</option>
                <option value="零售">零售</option>
                <option value="旅游观光">旅游观光</option>
                <option value="律师">律师</option>
                <option value="媒体制作">媒体制作</option>
                <option value="民航/航空">民航/航空</option>
                <option value="民间和社会组织">民间和社会组织</option>
                <option value="牧业">牧业</option>
                <option value="纳米技术">纳米技术</option>
                <option value="酿酒">酿酒</option>
                <option value="批发">批发</option>
                <option value="平面设计">平面设计</option>
                <option value="汽车">汽车</option>
                <option value="人力资源">人力资源</option>
                <option value="日用品">日用品</option>
                <option value="乳业">乳业</option>
                <option value="商业地产">商业地产</option>
                <option value="商业用品和设备">商业用品和设备</option>
                <option value="奢侈品和珠宝">奢侈品和珠宝</option>
                <option value="摄影">摄影</option>
                <option value="设计">设计</option>
                <option value="设施服务">设施服务</option>
                <option value="生物技术">生物技术</option>
                <option value="石油和能源">石油和能源</option>
                <option value="食品加工">食品加工</option>
                <option value="食品饮料">食品饮料</option>
                <option value="市场研究">市场研究</option>
                <option value="市场营销与广告">市场营销与广告</option>
                <option value="兽医">兽医</option>
                <option value="数字化学习">数字化学习</option>
                <option value="司法机关">司法机关</option>
                <option value="塑料">塑料</option>
                <option value="体育">体育</option>
                <option value="体育器材">体育器材</option>
                <option value="替代性纠纷解决">替代性纠纷解决</option>
                <option value="替代医学">替代医学</option>
                <option value="铁路设备制造">铁路设备制造</option>
                <option value="投资管理">投资管理</option>
                <option value="投资银行">投资银行</option>
                <option value="图书馆">图书馆</option>
                <option value="土木工程">土木工程</option>
                <option value="外包/离岸外包">外包/离岸外包</option>
                <option value="网络媒体">网络媒体</option>
                <option value="无线通讯">无线通讯</option>
                <option value="舞台表演">舞台表演</option>
                <option value="物流和供应链管理">物流和供应链管理</option>
                <option value="写作和编辑">写作和编辑</option>
                <option value="心理保健">心理保健</option>
                <option value="信息服务">信息服务</option>
                <option value="信息技术和服务">信息技术和服务</option>
                <option value="行政机关">行政机关</option>
                <option value="休闲设施和服务">休闲设施和服务</option>
                <option value="学术研究">学术研究</option>
                <option value="烟草">烟草</option>
                <option value="养殖">养殖</option>
                <option value="医疗保健">医疗保健</option>
                <option value="医疗服务">医疗服务</option>
                <option value="医疗设备">医疗设备</option>
                <option value="音乐">音乐</option>
                <option value="银行">银行</option>
                <option value="印刷">印刷</option>
                <option value="影视">影视</option>
                <option value="渔业">渔业</option>
                <option value="娱乐">娱乐</option>
                <option value="造船">造船</option>
                <option value="招聘和猎聘">招聘和猎聘</option>
                <option value="政府公关">政府公关</option>
                <option value="政治组织">政治组织</option>
                <option value="执法机关">执法机关</option>
                <option value="执行机关">执行机关</option>
                <option value="纸品与林木产品">纸品与林木产品</option>
                <option value="制药">制药</option>
                <option value="智囊团">智囊团</option>
                <option value="中小学教育">中小学教育</option>
                <option value="专业培训和指导">专业培训和指导</option>
                <option value="资本市场">资本市场</option>
                <option value="宗教机构">宗教机构</option>
              </select>
            </div>
            <div class="form-group">
              <label >通讯地址:</label>
              <input type="text" class="form-control prform" ng-model="user_profile.self_intro"></div>
            <div class="form-group">
              <label >合作过的客户:</label>
              <input type="text" class="form-control prform" ng-model="user_profile.h_addr"></div>
            <label >猎头介绍:</label>
            <textarea  class="form-control prform" rows="5" ng-model="user_profile.self_intro"></textarea>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <blockquote>
        <h3>一个快投网账号可以帮助您...</h3>
        <p>
          <span class="glyphicon glyphicon-ok"></span>
          建立个人品牌.
        </p>
        <p>
          <span class="glyphicon glyphicon-ok"></span>
          获取事业洞察力.
        </p>
        <p>
          <span class="glyphicon glyphicon-ok"></span>
          开发职场人脉.
        </p>
        <p>
          <span class="glyphicon glyphicon-ok"></span>
          还有更多,等你来发现...
        </p>
      </blockquote>
    </div>

  </div>
  {{user_profile|json}}
  <button type="button" class="btn btn-success btn-lg btn-block regbtn" ng-click="profile(user_profile)">完成</button>
</div>

<div class="footer">
  <p>
    Quick Cast | 快投 ©2014
    <a ui-sref="index">主页</a>
    |
    <a ui-sref="opinion">意见与反馈</a>
    |
    <a ui-sref="about">关于我们</a>
  </p>
  <p>
    Designed and built with
    <a href="http://www.bootcss.com">Bootstrap</a>
    and
    <a href="http://angularjs.org">Angularjs</a>
    by
    <a href="http://www.playingcn.com">@playing</a>
    .
  </p>
  <p>
    Based on
    <a href="http://nodejs.org/">node.js</a>
    , use
    <a href="http://gruntjs.com/">Grunt</a>
    ,
    <a href="http://bower.io/">Bower</a>
    ,and
    <a href="http://yeoman.io/">Yeoman</a>
    .
  </p>
</div>