<nav class="navbar navbar-default navbar-fixed-top"
  role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="index">
        <img src="./images/nav_logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav navbar-right" >
        <form class="navbar-form navbar-left" >
          <div class="form-group">
            <input type="text" class="form-control" placeholder="账号" ng-model="user_login.user_name"></div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="密码" ng-model="user_login.password"></div>
        </form>
        <li >
          <button class="btn btn-info nav-btn" ng-click="login(user_login)">登录快投</button>
        </li>
        <li >
          <button class="btn btn-default nav-btn" ng-click="resetpassword()">忘记密码</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container index" >
  <div class="page-header">
    <h1>
      注册信息
      <small>带* 必须填写内容.</small>
    </h1>
  </div>
  <h2>{{user_reg.cn_tname}} 欢迎您注册快投网!</h2>
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
  <form >
    <div class="row">
      <div class="col-md-7">
        <div class="form-group">
          <label >
            * 账号:
          </label>
          <input type="text" class="form-control"  placeholder="账号" ng-model="user_reg.user_name"></div>
        <div class="form-group">
          <label >
            * 密码:
          </label>
          <input type="password" class="form-control"  placeholder="密码" ng-model="user_reg.password"></div>
        <div class="form-group">
          <label >
            * 再次输入密码:
          </label>
          <input type="password" class="form-control"  placeholder="再次输入密码"></div>
        <div class="form-group">
          <label >
            * 真实姓名:
          </label>
          <input type="text" class="form-control"  placeholder="中文名" ng-model="user_reg.cn_tname"></div>
        <div class="form-group">
          <label >英文名:</label>
          <input type="text" class="form-control"  placeholder="英文名" ng-model="user_reg.eng_name"></div>
        <div class="form-group">
          <label >
            * 邮箱地址:
          </label>
          <input type="email" class="form-control"  placeholder="E-mail" ng-model="user_reg.email"></div>
      </div>
      <div class="col-md-5">
        <blockquote>
          <h3>一个快投网账号可以帮助您...</h3>
          <p>
            <span class="glyphicon glyphicon-ok"></span>
            展现你的技能和经验.
          </p>
          <p>
            <span class="glyphicon glyphicon-ok"></span>
            给你带来崭新的机会.
          </p>
          <p>
            <span class="glyphicon glyphicon-ok"></span>
            保持与同学同事以及朋友的联系.
          </p>
                    <p>
            <span class="glyphicon glyphicon-ok"></span>
还有更多,等你来发现...
          </p>

        </blockquote>
      </div>
    </div>
  </form>
  <button type="button" class="btn btn-success btn-lg btn-block regbtn" ng-click="registernow(user_reg)">马上注册</button>
</div>

<div class="footer">
  <p>
    Quick Cast | 快投 ©2014
    <a ui-sref="index">主页</a>
    |
    <a ui-sref="opinion">意见与反馈</a>
    |
    <a ui-sref="about">关于我们</a>
  </p>
  <p>
    Designed and built with
    <a href="http://www.bootcss.com">Bootstrap</a>
    and
    <a href="http://angularjs.org">Angularjs</a>
    by
    <a href="http://www.playingcn.com">@playing</a>
    .
  </p>
  <p>
    Based on
    <a href="http://nodejs.org/">node.js</a>
    , use
    <a href="http://gruntjs.com/">Grunt</a>
    ,
    <a href="http://bower.io/">Bower</a>
    ,and
    <a href="http://yeoman.io/">Yeoman</a>
    .
  </p>
</div>