<nav class="navbar navbar-default navbar-fixed-top"
  role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="#/"><img src="./images/nav_logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav navbar-right" >
        <form class="navbar-form navbar-left" >
          <div class="form-group">
            <input type="text" class="form-control" placeholder="账号"></div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="密码"></div>
        </form>
        <li >
          <button class="btn btn-info nav-btn" ng-click="login()">登录快投</button>
        </li>
        <li >
          <button class="btn btn-default nav-btn" ng-click="resetpassword()">忘记密码</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container index">
</div>

<div class="footer">
  <p>
  Quick Cast | 快投 ©2014
    <a ng-href="#/">主页</a>
    |
    <a ng-href="#/opinion">意见与反馈</a>
    |
    <a ng-href="#/about">关于我们</a>
  </p>
  <p>Designed and built with <a href="http://www.bootcss.com">Bootstrap</a> and <a href="http://angularjs.org">Angularjs</a> by <a href="http://www.playingcn.com">@playing</a>.</p>
  <p>
    Based on
    <a href="http://nodejs.org/">node.js</a>
    , use
    <a href="http://gruntjs.com/">Grunt</a>
    ,
    <a href="http://bower.io/">Bower</a>
    ,and
    <a href="http://yeoman.io/">Yeoman</a>
    .
  </p>
</div>
        <script src="scripts/user/register-controller.js"></script>