<nav class="navbar navbar-default navbar-fixed-top"
  role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="headhunter.html#/user/{{user_id}}">
        <img src="./images/nav_logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav " >
        <li>
          <form class="navbar-form navbar-left" >
            <div class="input-group nav-search" >
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon  glyphicon-{{searchicon}}"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="divider"></li>
                  <li>
                    <a ng-click="nav_search.search_type=1;searchicon='list-alt';" href="">
                      <span class="glyphicon glyphicon-list-alt"></span>
                      找职位
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a ng-click="nav_search.search_type=2;searchicon='briefcase';" href="">
                      <span class="glyphicon glyphicon-briefcase"></span>
                      找公司
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a ng-click="nav_search.search_type=3;searchicon='user';" href="">
                      <span class="glyphicon glyphicon-user"></span>
                      找猎头
                    </a>
                  </li>
                </ul>
              </div>
              <input type="text" class="form-control" ng-model="nav_search.serach_key"></div>
          </form>
        </li>
        <li>
          <button class="btn btn-default nav-btn" ng-click="search(nav_search)">
            <span class="glyphicon  glyphicon-search"></span>
            搜索
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" >
        <li >
          <a href="" class="dropdown-toggle">
            <span class="glyphicon glyphicon-envelope"></span>
            站内信
            <span class="label label-primary">{{messages.length}}</span>
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <a class="btn btn-default btn-sm btnmargin" ng-href="headhunter.html#/user/{{user_id}}/message">
              站内信
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </a>
            <a class="btn btn-default btn-sm pull-right btnmargin" ng-href="headhunter.html#/user/{{user_id}}/message">
              <span class="glyphicon  glyphicon-share"></span>
            </a>
            <div class="list-group nav-list">
              <a ng-href="headhunter.html#/user/{{user_id}}/message" class="list-group-item"  ng-repeat="message in messages"> <strong class="list-group-item-heading">{{message.title}}</strong>
                <p>发件人:{{message.dispatch_name}}</p>
                <p>{{message.content}}</p>
              </a>
            </div>
            <a ng-href="headhunter.html#/user/{{user_id}}/message" class="pull-right">查看更多</a>
          </div>
        </li>
        <li >
          <a href="" class="dropdown-toggle">
            <span class="glyphicon  glyphicon-flag"></span>
            通知
            <span class="label label-primary">{{notices.length}}</span>
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <h5 >
              通知
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </h5>
            <div class="list-group nav-list">
              <a ng-href="headhunter.html#/user/{{user_id}}/message" class="list-group-item"  ng-repeat="notice in notices"> <strong class="list-group-item-heading">{{notice.title}}</strong>
                <p>发件人:{{notice.dispatch_name}}</p>
                <p>{{notice.content}}</p>
              </a>
            </div>
            <a ng-href="headhunter.html#/user/{{user_id}}/message" class="pull-right">查看更多</a>
          </div>
        </li>
        <li >
          <a href="" class="dropdown-toggle" >
            <span class="glyphicon  glyphicon-plus" ></span>
            添加好友
            <span class="label label-primary">{{applys.length}}</span>
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <a class="btn btn-default btn-sm btnmargin" ng-href="headhunter.html#/user/{{user_id}}/friends">
              好友管理
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </a>
            <ul class="list-group nav-list">
              <li class="list-group-item"  ng-repeat="apply in applys">
                <p>申请人:{{apply.name}}</p>
                <p >用户类别:{{apply.group|usertype}}</p>
                <p>{{apply.reason}}</p>
                <button class="btn btn-success btn-sm" ng-click="friend_add($index,'agree')">同意</button>
                <button class="btn btn-danger btn-sm" ng-click="friend_add($index,'disagree')">拒绝</button>
              </li>
            </ul>
            <p>找找谁已加入快投</p>
            <a ng-href="headhunter.html#/user/{{user_id}}/friends" class="pull-right">查看更多</a>
          </div>
        </li>
        <li>
          <a href="" class="dropdown-toggle">
            <span class="glyphicon  glyphicon-user"></span>
            个人中心
          </a>
          <div class="dropdown-menu nav-dropdown" >
            <h5 >
              账户设置
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </h5>
            <ul class="list-group nav-list">
              <li class="list-group-item">
                <span class="glyphicon  glyphicon-user"></span>
                {{cn_tname}}
                <a href="" class=" pull-right" ng-click="logout()">退出</a>
              </li>
              <li class="list-group-item">
                <span class="glyphicon  glyphicon-wrench"></span>
                设置
                <a ng-href="headhunter.html#/user/{{user_id}}/setting" class=" pull-right">查看</a>
              </li>
              <li class="list-group-item">
                <span class="glyphicon  glyphicon-folder-open"></span>
                简历管理
                <a ng-href="headhunter.html#/user/{{user_id}}/resume" class="pull-right">查看</a>
              </li>
            </ul>

          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container index">
  <div class="row">
    <div class="col-md-8">
      <h3>{{cn_tname}} 快来分享你的新鲜动态.</h3>
      <alert ng-repeat="alert in alerts" type="alert.type" close="delalert($index)">{{alert.msg}}</alert>
      <div ng-switch on="newsTab.newstype">
        <div  ng-switch-when="2">
          <div class="form-group">
            <label >公司名称:</label>
            <input type="text" class="form-control prform"  ng-model="publish.etp_name"></div>
          <div class="form-group">
            <label >招聘职位:</label>
            <input type="text" class="form-control prform"  ng-model="publish.recruit_job"></div>
          <div class="form-group">
            <label >所在行业:</label>
            <select class="form-control prform" ng-model="publish.recruit_industry">
              <option value="0">选择...</option>
              <option value="安全和调查">安全和调查</option>
              <option value="半导体">半导体</option>
              <option value="包装和集装箱">包装和集装箱</option>
              <option value="保险">保险</option>
              <option value="报纸">报纸</option>
              <option value="玻璃、陶瓷和混凝土">玻璃、陶瓷和混凝土</option>
              <option value="博彩">博彩</option>
              <option value="博物馆和展览机构">博物馆和展览机构</option>
              <option value="采矿/金属">采矿/金属</option>
              <option value="餐饮服务">餐饮服务</option>
              <option value="仓储">仓储</option>
              <option value="超市">超市</option>
              <option value="程序开发">程序开发</option>
              <option value="出版">出版</option>
              <option value="慈善">慈善</option>
              <option value="电脑游戏">电脑游戏</option>
              <option value="电器/电子制造">电器/电子制造</option>
              <option value="电信">电信</option>
              <option value="电子产品">电子产品</option>
              <option value="动画">动画</option>
              <option value="法律服务">法律服务</option>
              <option value="翻译和本地化">翻译和本地化</option>
              <option value="房地产">房地产</option>
              <option value="纺织">纺织</option>
              <option value="非营利组织管理">非营利组织管理</option>
              <option value="风险投资和私募股权">风险投资和私募股权</option>
              <option value="服务业">服务业</option>
              <option value="服装和时尚">服装和时尚</option>
              <option value="高等教育">高等教育</option>
              <option value="工业自动化">工业自动化</option>
              <option value="工艺美术">工艺美术</option>
              <option value="公共安全">公共安全</option>
              <option value="公共基础设施">公共基础设施</option>
              <option value="公共政策">公共政策</option>
              <option value="公关传播">公关传播</option>
              <option value="管理咨询">管理咨询</option>
              <option value="广电传媒">广电传媒</option>
              <option value="国防和航空">国防和航空</option>
              <option value="国际贸易和发展">国际贸易和发展</option>
              <option value="国际事务">国际事务</option>
              <option value="海事">海事</option>
              <option value="航空航天">航空航天</option>
              <option value="互联网">互联网</option>
              <option value="化学">化学</option>
              <option value="化妆品">化妆品</option>
              <option value="环境服务">环境服务</option>
              <option value="会计">会计</option>
              <option value="活动服务">活动服务</option>
              <option value="货物包装及运送">货物包装及运送</option>
              <option value="机械">机械</option>
              <option value="机械和工业设计">机械和工业设计</option>
              <option value="集资">集资</option>
              <option value="计算机和网络安全">计算机和网络安全</option>
              <option value="计算机软件">计算机软件</option>
              <option value="计算机网络">计算机网络</option>
              <option value="计算机硬件">计算机硬件</option>
              <option value="家具">家具</option>
              <option value="家政服务">家政服务</option>
              <option value="健康、运动和健身">健康、运动和健身</option>
              <option value="建材">建材</option>
              <option value="建筑">建筑</option>
              <option value="建筑和规划">建筑和规划</option>
              <option value="交通、汽车及铁路运输">交通、汽车及铁路运输</option>
              <option value="教育管理">教育管理</option>
              <option value="金融服务">金融服务</option>
              <option value="进出口">进出口</option>
              <option value="精细工艺">精细工艺</option>
              <option value="酒店">酒店</option>
              <option value="军事">军事</option>
              <option value="可再生品和环境">可再生品和环境</option>
              <option value="立法机关">立法机关</option>
              <option value="零售">零售</option>
              <option value="旅游观光">旅游观光</option>
              <option value="律师">律师</option>
              <option value="媒体制作">媒体制作</option>
              <option value="民航/航空">民航/航空</option>
              <option value="民间和社会组织">民间和社会组织</option>
              <option value="牧业">牧业</option>
              <option value="纳米技术">纳米技术</option>
              <option value="酿酒">酿酒</option>
              <option value="批发">批发</option>
              <option value="平面设计">平面设计</option>
              <option value="汽车">汽车</option>
              <option value="人力资源">人力资源</option>
              <option value="日用品">日用品</option>
              <option value="乳业">乳业</option>
              <option value="商业地产">商业地产</option>
              <option value="商业用品和设备">商业用品和设备</option>
              <option value="奢侈品和珠宝">奢侈品和珠宝</option>
              <option value="摄影">摄影</option>
              <option value="设计">设计</option>
              <option value="设施服务">设施服务</option>
              <option value="生物技术">生物技术</option>
              <option value="石油和能源">石油和能源</option>
              <option value="食品加工">食品加工</option>
              <option value="食品饮料">食品饮料</option>
              <option value="市场研究">市场研究</option>
              <option value="市场营销与广告">市场营销与广告</option>
              <option value="兽医">兽医</option>
              <option value="数字化学习">数字化学习</option>
              <option value="司法机关">司法机关</option>
              <option value="塑料">塑料</option>
              <option value="体育">体育</option>
              <option value="体育器材">体育器材</option>
              <option value="替代性纠纷解决">替代性纠纷解决</option>
              <option value="替代医学">替代医学</option>
              <option value="铁路设备制造">铁路设备制造</option>
              <option value="投资管理">投资管理</option>
              <option value="投资银行">投资银行</option>
              <option value="图书馆">图书馆</option>
              <option value="土木工程">土木工程</option>
              <option value="外包/离岸外包">外包/离岸外包</option>
              <option value="网络媒体">网络媒体</option>
              <option value="无线通讯">无线通讯</option>
              <option value="舞台表演">舞台表演</option>
              <option value="物流和供应链管理">物流和供应链管理</option>
              <option value="写作和编辑">写作和编辑</option>
              <option value="心理保健">心理保健</option>
              <option value="信息服务">信息服务</option>
              <option value="信息技术和服务">信息技术和服务</option>
              <option value="行政机关">行政机关</option>
              <option value="休闲设施和服务">休闲设施和服务</option>
              <option value="学术研究">学术研究</option>
              <option value="烟草">烟草</option>
              <option value="养殖">养殖</option>
              <option value="医疗保健">医疗保健</option>
              <option value="医疗服务">医疗服务</option>
              <option value="医疗设备">医疗设备</option>
              <option value="音乐">音乐</option>
              <option value="银行">银行</option>
              <option value="印刷">印刷</option>
              <option value="影视">影视</option>
              <option value="渔业">渔业</option>
              <option value="娱乐">娱乐</option>
              <option value="造船">造船</option>
              <option value="招聘和猎聘">招聘和猎聘</option>
              <option value="政府公关">政府公关</option>
              <option value="政治组织">政治组织</option>
              <option value="执法机关">执法机关</option>
              <option value="执行机关">执行机关</option>
              <option value="纸品与林木产品">纸品与林木产品</option>
              <option value="制药">制药</option>
              <option value="智囊团">智囊团</option>
              <option value="中小学教育">中小学教育</option>
              <option value="专业培训和指导">专业培训和指导</option>
              <option value="资本市场">资本市场</option>
              <option value="宗教机构">宗教机构</option>
            </select>
          </div>
          <div class="form-group">
            <label >薪资:</label>
            <input type="text" class="form-control prform"  ng-model="publish.salary"></div>
          <div class="form-group">
            <label >工作地点:</label>
            <input type="text" class="form-control prform"  ng-model="publish.work_place"></div>
          <label >详情:</label>
          <textarea rows="4" cols="40" class="form-control" ng-model="publish.recruit_detail"></textarea>
          <button class="btn btn-primary btn-block btn-lg regbtn" ng-click="publishnews(publish)">发布</button>
        </div>
        <div  ng-switch-default>
          <textarea rows="4" cols="40" class="form-control" ng-model="publish.content"></textarea>
          <button class="btn btn-primary btn-block btn-lg regbtn" ng-click="publishnews(publish)">发布</button>
        </div>
      </div>
      <select class="form-control regbtn newselect" ng-model="newsTab.newstype">
        <option value="1" selected="true">普通动态</option>
        <option value="2">招聘信息</option>
      </select>

      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle nav-btn" data-toggle="dropdown">
          {{newsbutton}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="" ng-click="search.pub_type=1;newsbutton='个人动态';search.pub_id=undefined;">个人动态</a>
          </li>
          <li>
            <a href="" ng-click="search.pub_type=2;newsbutton='招聘信息';search.pub_id=undefined;">招聘信息</a>
          </li>
          <li>
            <a href="" ng-click="search.pub_id=user_id;search.pub_type=undefined;newsbutton='我的动态';">我的动态</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="" ng-click="search.pub_type=undefined;newsbutton='所有动态';search.pub_id=undefined;">所有动态</a>
          </li>
        </ul>
      </div>
      <div class="well newsspan" ng-repeat="update in updates |orderBy:'pub_time':true|filter:search|limitTo:newsquantity">
        <div class="row">
          <div class="col-md-2">
            <img ng-src="http://192.168.1.104:8080/quickcast/upload/{{update.pub_id}}.jpg" alt="" class="main_img img-rounded img-responsive new_img"></div>
          <div class="col-md-10">
            <a ng-href="user.html#/user/{{update.pub_id}}">
              <h5>{{update.pub_name}}</h5>
            </a>
            <p ng-if="update.pub_type-1">{{update.pub_name}}刚刚发布了新职位:</p>
            <p ng-if="update.pub_type-1">
              <a ng-href="search.html#/job/{{update.info_id}}">{{update.content}}</a>
            </p>
            <p ng-if="update.pub_type-1">{{update.etp_name}} -- {{update.work_place}}</p>
            <p ng-if="!(update.pub_type-1)">{{update.content}}</p>
            <p>{{update.pub_time|date:'yyyy-MM-dd HH:mm:ss'}}</p>
          </div>
        </div>
      </div>
      <button class="btn btn-info btn-block newsspan" ng-click="morenews()">
        更多动态
        <span class="glyphicon glyphicon-chevron-down"></span>
      </button>
    </div>
    <div class="col-md-4">
      <div class="row regbtn">
        <div class="col-md-4">
          <img ng-src="{{image_url}}" alt="" class="main_img img-rounded img-responsive"></div>
        <div class="col-md-8">
          <p>{{cn_tname}}</p>

        </div>
        <p>
          您有
          <a ng-href="headhunter.html#/headhunter/{{user_id}}/message">
            {{seekerfriends.length+companyfriends.length+headhunterfriends.length}}位
          </a>
          联系人在快投网.
        </p>
        <p>
          您有
          <a ng-href="headhunter.html#/headhunter/{{user_id}}/friends">{{messages.length}}条</a>
          信息在快投网.
        </p>
      </div>
      <div>
        <h4>职位推荐:</h4>
        <div class="well well-sm" ng-repeat="recommend in recommends">
          <button type="button" class="close" aria-hidden="true" ng-click="del_recommend($index)">&times;</button>
          <a href="{{recommend.id}}">
            <h4>{{recommend.title}}</h4>
          </a>
          <p>{{recommend.company}}--{{recommend.city}}</p>
        </div>
        <a href="" class="pull-right">更多职位</a>
      </div>
      <div>
        <h4>可能认识的会员:</h4>
        <div class="well well-sm" ng-repeat="recommend in recommends">
          <button type="button" class="close" aria-hidden="true" ng-click="del_recommend($index)">&times;</button>
          <a ng-href="{{recommend.id}}"></a>
        </div>
        <a ng-href="headhunter.html#/headhunter/{{user_id}}/friends" class="pull-right">更多推荐</a>
      </div>
      <div class="footer" ng-include="'views/footer.html'"></div>
    </div>
  </div>
</div>